<section class="menu wow animate__animated animate__slideInUp" id="menu">
  <div class="container menu__container ">
    <h3 class="menu__header">МЕНЮ РЕСТОРАНУ</h3>
    <div class="menu__flex">
      <div class="menu__first-flex">
        <h4 class="hot-meals__header">Гарячі страви</h4>
        <ul class="hot-meals__list">
          <li class="hot-meals__item">
            <div class="hot-meals__box-name">
              <h5 class="hot-meals__name">Борщ з телятини з квасолею</h5>
              <p class="hot-meals__ingridients">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </div>
            <div class="hot-meals__box-price-weight">
              <p class="hot-meals__weight">400 г</p>
              <p class="hot-meals__price">240 грн</p>
            </div>
          </li>
          <li class="hot-meals__item">
            <div class="hot-meals__box-name">
              <h5 class="hot-meals__name">Суп сирний з куркою</h5>
              <p class="hot-meals__ingridients">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </div>
            <div class="hot-meals__box-price-weight">
              <p class="hot-meals__weight">400 г</p>
              <p class="hot-meals__price">200 грн</p>
            </div>
          </li>
          <li class="hot-meals__item">
            <div class="hot-meals__box-name">
              <h5 class="hot-meals__name">Паста карбонара</h5>
              <p class="hot-meals__ingridients">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </div>
            <div class="hot-meals__box-price-weight">
              <p class="hot-meals__weight">350 г</p>
              <p class="hot-meals__price">430 грн</p>
            </div>
          </li>
          <li class="hot-meals__item">
            <div class="hot-meals__box-name">
              <h5 class="hot-meals__name">Стейк зі свинини</h5>
              <p class="hot-meals__ingridients">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </div>
            <div class="hot-meals__box-price-weight">
              <p class="hot-meals__weight">400 г</p>
              <p class="hot-meals__price">500 грн</p>
            </div>
          </li>
          <li class="hot-meals__item">
            <div class="hot-meals__box-name">
              <h5 class="hot-meals__name">Горбуша в соусі з білого вина</h5>
              <p class="hot-meals__ingridients">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </div>
            <div class="hot-meals__box-price-weight">
              <p class="hot-meals__weight">400 г</p>
              <p class="hot-meals__price">400 грн</p>
            </div>
          </li>
        </ul>
        <h4 class="appetizers__header">Гарніри та закуски</h4>
        <ul class="list appetizers__list">
          <li class="appetizers__item">
            <div class="appetizers__box-name">
              <h5 class="appetizers__name">Запечені овочі</h5>
              <p class="appetizers__ingridients">
                Кабачок, перець, помідор, баклажан
              </p>
            </div>
            <div class="appetizers-box-price-weight">
              <p class="appetizers__weight">200 г</p>
              <p class="appetizers__price">230 грн</p>
            </div>
          </li>
          <li class="appetizers__item">
            <div class="appetizers__box-name">
              <h5 class="appetizers__name">Картопля фрі</h5>
              <p class="appetizers__ingridients">Картопля, соус томатний</p>
            </div>
            <div class="appetizers-box-price-weight">
              <p class="appetizers__weight">150 г</p>
              <p class="appetizers__price">160 грн</p>
            </div>
          </li>
          <li class="appetizers__item">
            <div class="appetizers__box-name">
              <h5 class="appetizers__name">Картопля по-селянськи</h5>
              <p class="appetizers__ingridients">
                Картопля, спеції, соус пікантний
              </p>
            </div>
            <div class="appetizers-box-price-weight">
              <p class="appetizers__weight">150 г</p>
              <p class="appetizers__price">160 грн</p>
            </div>
          </li>
          <li class="appetizers__item">
            <div class="appetizers__box-name">
              <h5 class="appetizers__name">Хрумкі соління з бочки</h5>
              <p class="appetizers__ingridients">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </div>
            <div class="appetizers-box-price-weight">
              <p class="appetizers__weight">250 г</p>
              <p class="appetizers__price">350 грн</p>
            </div>
          </li>
          <li class="appetizers__item">
            <div class="appetizers__box-name">
              <h5 class="appetizers__name">Крильця курячі в медовому соусі</h5>
              <p class="appetizers__ingridients">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </div>
            <div class="appetizers-box-price-weight">
              <p class="appetizers__weight">400 г</p>
              <p class="appetizers__price">420 грн</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu__second-flex">
        <h4 class="salads__header">Салати</h4>
        <ul class="salads__list">
          <li class="salads__item">
            <div class="salads__box-name">
              <h5 class="salads__name">Цезар з куркою</h5>
              <p class="salads__ingridients">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <div class="salads-box-price-weight">
              <p class="salads__weight">230 г</p>
              <p class="salads__price">450 грн</p>
            </div>
          </li>
          <li class="salads__item">
            <div class="salads__box-name">
              <h5 class="salads__name">Цезар з креветками</h5>
              <p class="salads__ingridients">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <div class="salads-box-price-weight">
              <p class="salads__weight">230 г</p>
              <p class="salads__price">300 грн</p>
            </div>
          </li>
          <li class="salads__item">
            <div class="salads__box-name">
              <h5 class="salads__name">Грецький салат</h5>
              <p class="salads__ingridients">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <div class="salads-box-price-weight">
              <p class="salads__weight">230 г</p>
              <p class="salads__price">280 грн</p>
            </div>
          </li>
          <li class="salads__item">
            <div class="salads__box-name">
              <h5 class="salads__name">М’ясний салат</h5>
              <p class="salads__ingridients">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </div>
            <div class="salads-box-price-weight">
              <p class="salads__weight">230 г</p>
              <p class="salads__price">300 грн</p>
            </div>
          </li>
        </ul>
        <h4 class="desserts__header">Десерти</h4>
        <ul class="desserts__list list">
          <li class="desserts__item">
            <h5 class="desserts__name">Торт наполеон</h5>
            <div class="desserts__box">
              <p class="desserts__weight">230 г</p>
              <p class="desserts__price">300 грн</p>
            </div>
          </li>
          <li class="desserts__item">
            <h5 class="desserts__name">Торт маковий</h5>
            <div class="desserts__box">
              <p class="desserts__weight">230 г</p>
              <p class="desserts__price">300 грн</p>
            </div>
          </li>
          <li class="desserts__item">
            <h5 class="desserts__name">Тірамісу</h5>
            <div class="desserts__box">
              <p class="desserts__weight">120 г</p>
              <p class="desserts__price">260 грн</p>
            </div>
          </li>
        </ul>
        <h4 class="drinkables__header">Напої</h4>
        <ul class="drinkables__list">
          <li class="drinkables__item">
            <h4 class="drinkables__name">Чай чорний/зелений</h4>
            <div class="drinkables__box">
              <p class="drinkables__weight">500 мл</p>
              <p class="drinkables__price">100 грн</p>
            </div>
          </li>
          <li class="drinkables__item">
            <h4 class="drinkables__name">Еспресо</h4>
            <div class="drinkables__box">
              <p class="drinkables__weight">30 мл</p>
              <p class="drinkables__price">100 грн</p>
            </div>
          </li>
          <li class="drinkables__item">
            <h4 class="drinkables__name">Американо</h4>
            <div class="drinkables__box">
              <p class="drinkables__weight">150 мл</p>
              <p class="drinkables__price">100 грн</p>
            </div>
          </li>
          <li class="drinkables__item">
            <h4 class="drinkables__name">Капучино</h4>
            <div class="drinkables__box">
              <p class="drinkables__weight">200 мл</p>
              <p class="drinkables__price">160 грн</p>
            </div>
          </li>
          <li class="drinkables__item">
            <h4 class="drinkables__name">Лате</h4>
            <div class="drinkables__box">
              <p class="drinkables__weight">200 мл</p>
              <p class="drinkables__price">160 грн</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="button__menu" data-table-modal-2-open>
      Забронювати столик
    </button>
  </div>
  <script src="./js/table-modal.js"></script>
</section>
