<section class="restaurant-about-kithen wow animate__animated animate__slideInUp">
    <ul class="container">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
    </ul>
    <div class="container restaurant-container">
    <h3 class="visually-hidden">Ресторан</h3>
    <div class="restaurant-first-hall">
        <p class="restaurant-pretitle-text">Amet minim mollit non</p>
        <h2 class="restaurant-title">MIMIHO</h2>
        <p class="restaurant-aftertitle-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source
                srcset="/src/images/restourant-images/restoran-interior_desk1x.jpg 1x,
                /src/images/restourant-images/restoran-interior_desk2x.jpg 2x"
                media="(min-width: 1280px)"
            />
            <source
                srcset="/src/images/restourant-images/restoran-interior_tub1x.jpg 1x,
                /src/images/restourant-images/restoran-interior_tub2x.jpg 2x"
                media="(min-width: 1024px)"
            />
            <source
                srcset="/src/images/restourant-images/restoran-interior_mob1x.jpg 1x,
                /src/images/restourant-images/restoran-interior_mob2x.jpg 2x"
                media="(max-width: 1023px)"
            />
            <img class="first-restaurant-photo" 
            src="/src/images/restourant-images/restoran-interior_desk1x.jpg" 
            alt="Перша кімната"
            />
        </picture>
    </div>
    <div class="restaurant-second-hall">
        <picture>
            <source
                srcset="/src/images/restourant-images/meat-desk_1x.jpg 1x,
                /src/images/restourant-images/meat-desk_2x.jpg 2x"
                media="(min-width: 1280px)"
            />
            <source
                srcset="/src/images/restourant-images/meat-tab_1x.jpg 1x,
                /src/images/restourant-images/meat-tab_2x.jpg 2x"
                media="(min-width: 1024px)"
            />
            <source
                srcset="/src/images/restourant-images/meat-mob_1x.jpg 1x,
                /src/images/restourant-images/meat-mob_2x.jpg 2x"
                media="(max-width: 1023px)"
            />
            <img class="second-restaurant-photo"
            src="/src/images/restourant-images/meat-desk_1x.jpg" 
            alt="Друга кімната"
            />
        </picture>
        <p class="second-restaurant-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>



    <!-- СЛАЙДЕР -->
    <div class="slick-container">
        <div class="hp-rest-slider">
            <div>
                <picture>
                    <source
                        srcset="/src/images/restourant-images/flour-desk_1x.jpg 1x,
                        /src/images/restourant-images/flour-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/restourant-images/flour-tab_1x.jpg 1x,
                        /src/images/restourant-images/flour-tab_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/restourant-images/flour-desk_1x.jpg 1x,
                        /src/images/restourant-images/flour-desk_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/restourant-images/flour-desk_1x.jpg" 
                    alt=""
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/restourant-images/mat-brown_desk1x.jpg 1x,
                        /src/images/restourant-images/mat-brown_desk2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/restourant-images/mat-brown_tub1x.jpg 1x,
                        /src/images/restourant-images/mat-brown_tub2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/restourant-images/mat-brown_desk1x.jpg 1x,
                        /src/images/restourant-images/mat-brown_desk2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/restourant-images/mat-brown_desk1x.jpg" 
                    alt=""
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/slyder-images/slyder-desktop/6-desk_1x.jpg 1x,
                        /src/images/slyder-images/slyder-desktop/6-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-tablet/6-tab_1x.jpg 1x,
                        /src/images/slyder-images/slyder-tablet/6-tab_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-mobile/6-mob_1x.jpg 1x,
                        /src/images/slyder-images/slyder-mobile/6-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/slyder-images/slyder-desktop/6-desk_1x.jpg" 
                    alt=""
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/slyder-images/slyder-desktop/16-desk_1x.jpg 1x,
                        /src/images/slyder-images/slyder-desktop/16-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-tablet/16-tab_1x.jpg 1x,
                        /src/images/slyder-images/slyder-tablet/16-tab_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-mobile/16-mob_1x.jpg 1x,
                        /src/images/slyder-images/slyder-mobile/16-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/slyder-images/slyder-desktop/16-desk_1x.jpg" 
                    alt=""
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/slyder-images/slyder-desktop/15-desk_1x.jpg 1x,
                        /src/images/slyder-images/slyder-desktop/15-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-tablet/15-tab_1x.jpg 1x,
                        /src/images/slyder-images/slyder-tablet/15-tab_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-mobile/15-mob_1x.jpg 1x,
                        /src/images/slyder-images/slyder-mobile/15-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/slyder-images/slyder-desktop/15-desk_1x.jpg" 
                    alt=""
                    />
                </picture>
            </div>
        </div>
    </div>
    </div>
</section>


