@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff), url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff), url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff), url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff), url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FilmP3";
  src: url(../fonts/FilmP3Bold.woff), url(../fonts/FilmP3Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPSMT.woff), url(../fonts/TimesNewRomanPSMT.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPS-BoldMT.woff), url(../fonts/TimesNewRomanPS-BoldMT.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-mobile/homepage-hero_mob1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 52px 15px 20px;
  height: 688px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-mobile/homepage-hero_mob2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 100px 47px 15px;
    height: 605px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-tablet/homepage-hero_tub1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-tablet/homepage-hero_tub2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 100px 85px 64px;
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-desktop/homepage-hero_desk1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-desktop/homepage-hero_desk2x.jpg);
  }
}

.hero__title {
  font-family: "FilmP3", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 20px;
  max-width: 303px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 0.93;
  letter-spacing: 0.3em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    margin-top: 88px;
    margin-bottom: 16px;
    max-width: 404px;
    font-size: 128px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-top: 64px;
    margin-bottom: 32px;
  }
}

.hero__subtitle {
  margin-bottom: 40px;
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}

.hero__description {
  margin-bottom: 113px;
  font-family: "TimesNewRoman", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__description {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1023px) {
  .hero__blok-info {
    display: flex;
    align-items: center;
    margin-top: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__blok-info {
    display: flex;
    margin-top: auto;
    margin-right: auto;
  }
}

.hero__location-upper {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-upper {
    width: 210px;
    height: 47px;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-upper {
    display: none;
  }
}

.hero__location-lower {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-lower {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-lower {
    margin-right: 115px;
    width: 285px;
    height: 56px;
    display: flex;
    text-align: initial;
  }
}
@media screen and (min-width: 1280px) {
  .hero__location-lower {
    margin-right: 297px;
  }
}

.hero__location-link {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}
@media screen and (max-width: 1023px) {
  .hero__location-link {
    font-size: 12px;
    line-height: 15px;
    padding-top: 8px;
    padding-right: 7px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-link {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
  }
}

.hero__location-icon {
  fill: #f3c653;
}
@media screen and (max-width: 1023px) {
  .hero__location-icon {
    margin-left: 6px;
    margin-top: 13px;
    margin-right: 8px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-icon {
    margin-left: 10px;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 16px;
  }
}

.hero__button-item {
  margin-bottom: 24px;
}
.hero__button-item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  .hero__button-item {
    margin-bottom: 0;
  }
}

.button {
  cursor: pointer;
  width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
}
.button:hover, .button:focus {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .hero__button-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.hero__soc-box {
  display: flex;
  margin-top: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .hero__soc-box {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__soc-box {
    display: none;
  }
}

.hero__soc-list {
  gap: 20px;
  display: flex;
}

.hero__soc-icon {
  fill: rgba(243, 198, 83, 0.7);
}
.hero__soc-icon:hover, .hero__soc-icon:focus {
  fill: #f3c653;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

body {
  color: #5f5f5f;
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-mobile/homepage-hero_mob1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 52px 15px 20px;
  height: 688px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-mobile/homepage-hero_mob2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 100px 47px 15px;
    height: 605px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-tablet/homepage-hero_tub1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-tablet/homepage-hero_tub2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 100px 85px 64px;
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-desktop/homepage-hero_desk1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-desktop/homepage-hero_desk2x.jpg);
  }
}

.hero__title {
  font-family: "FilmP3", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 20px;
  max-width: 303px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 0.93;
  letter-spacing: 0.3em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    margin-top: 88px;
    margin-bottom: 16px;
    max-width: 404px;
    font-size: 128px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-top: 64px;
    margin-bottom: 32px;
  }
}

.hero__subtitle {
  margin-bottom: 40px;
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}

.hero__description {
  margin-bottom: 113px;
  font-family: "TimesNewRoman", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__description {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1023px) {
  .hero__blok-info {
    display: flex;
    align-items: center;
    margin-top: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__blok-info {
    display: flex;
    margin-top: auto;
    margin-right: auto;
  }
}

.hero__location-upper {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-upper {
    width: 210px;
    height: 47px;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-upper {
    display: none;
  }
}

.hero__location-lower {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-lower {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-lower {
    margin-right: 115px;
    width: 285px;
    height: 56px;
    display: flex;
    text-align: initial;
  }
}
@media screen and (min-width: 1280px) {
  .hero__location-lower {
    margin-right: 297px;
  }
}

.hero__location-link {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}
@media screen and (max-width: 1023px) {
  .hero__location-link {
    font-size: 12px;
    line-height: 15px;
    padding-top: 8px;
    padding-right: 7px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-link {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
  }
}

.hero__location-icon {
  fill: #f3c653;
}
@media screen and (max-width: 1023px) {
  .hero__location-icon {
    margin-left: 6px;
    margin-top: 13px;
    margin-right: 8px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-icon {
    margin-left: 10px;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 16px;
  }
}

.hero__button-item {
  margin-bottom: 24px;
}
.hero__button-item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  .hero__button-item {
    margin-bottom: 0;
  }
}

.button {
  cursor: pointer;
  width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
}
.button:hover, .button:focus {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .hero__button-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.hero__soc-box {
  display: flex;
  margin-top: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .hero__soc-box {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__soc-box {
    display: none;
  }
}

.hero__soc-list {
  gap: 20px;
  display: flex;
}

.hero__soc-icon {
  fill: rgba(243, 198, 83, 0.7);
}
.hero__soc-icon:hover, .hero__soc-icon:focus {
  fill: #f3c653;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/hotel-images/hotel-hero/hotel-hero_mob1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 52px 15px 20px;
  height: 688px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/hotel-images/hotel-hero/hotel-hero_mob2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 100px 47px 15px;
    height: 605px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/hotel-images/hotel-hero/hotel-hero_tub1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/hotel-images/hotel-hero/hotel-hero_tub2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 100px 85px 64px;
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/hotel-images/hotel-hero/hotel-hero_desk1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/hotel-images/hotel-hero/hotel-hero_desk2x.jpg);
  }
}

.hero__title {
  font-family: "FilmP3", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 20px;
  max-width: 303px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 0.93;
  letter-spacing: 0.3em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    margin-top: 88px;
    margin-bottom: 16px;
    max-width: 404px;
    font-size: 128px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-top: 64px;
    margin-bottom: 32px;
  }
}

.hero__subtitle {
  margin-bottom: 44px;
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}

.hero__description {
  margin-bottom: 113px;
  font-family: "TimesNewRoman", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__description {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1023px) {
  .hero__blok-info {
    display: flex;
    align-items: center;
    margin-top: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__blok-info {
    display: flex;
    margin-top: auto;
    margin-right: auto;
  }
}

.hero__location-upper {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-upper {
    width: 210px;
    height: 47px;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-upper {
    display: none;
  }
}

.hero__location-lower {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-lower {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-lower {
    margin-right: 115px;
    width: 285px;
    height: 56px;
    display: flex;
    text-align: initial;
  }
}
@media screen and (min-width: 1280px) {
  .hero__location-lower {
    margin-right: 297px;
  }
}

.hero__location-link {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}
@media screen and (max-width: 1023px) {
  .hero__location-link {
    font-size: 12px;
    line-height: 15px;
    padding-top: 8px;
    padding-right: 7px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-link {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
  }
}

.hero__location-icon {
  fill: #f3c653;
}
@media screen and (max-width: 1023px) {
  .hero__location-icon {
    margin-left: 6px;
    margin-top: 13px;
    margin-right: 8px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-icon {
    margin-left: 10px;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 16px;
  }
}

.hero__button-item {
  margin-bottom: 24px;
}
.hero__button-item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  .hero__button-item {
    margin-bottom: 0;
  }
}

.button {
  cursor: pointer;
  width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
}
.button:hover, .button:focus {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .hero__button-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.hero__soc-box {
  display: flex;
  margin-top: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .hero__soc-box {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__soc-box {
    display: none;
  }
}

.hero__soc-list {
  gap: 20px;
  display: flex;
}

.hero__soc-icon {
  fill: rgba(243, 198, 83, 0.7);
}
.hero__soc-icon:hover, .hero__soc-icon:focus {
  fill: #f3c653;
}

.footer {
  background-color: #0E0C07;
  margin-left: auto;
  margin-right: auto;
  min-width: 414px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1024px;
    width: 100%;
  }
}

.footer__logo {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.3em;
  color: #F3C653;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.3em;
  }
}

.footer__position {
  display: flex;
  margin-left: auto;
  gap: 129px;
}
@media screen and (max-width: 1023px) {
  .footer__position {
    margin-left: auto;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__position {
    margin-left: auto;
    gap: 199px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  text-align: center;
}

.footer__list-link {
  display: flex;
  gap: 20px;
  padding-left: 8px;
}
@media screen and (min-width: 1024px) {
  .footer__list-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 5px 10px;
  color: #F3C653;
  text-decoration: none;
  margin: 0;
}

.footer__link--border {
  border: 0.5px solid #F3C653;
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .footer__link--border {
    border: none;
  }
}

@media screen and (max-width: 1023px) {
  .footer__hidden {
    display: none;
  }
}

.footer__icon {
  width: 24px;
  height: 24px;
  fill: #F3C653;
  content: "";
}

.footer__item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/restourant-images/restoran-hero_mob1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 52px 15px 20px;
  height: 688px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/restourant-images/restoran-hero_mob2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 100px 47px 15px;
    height: 605px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/restourant-images/restoran-hero_tub1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/restourant-images/restoran-hero_tub2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 100px 85px 64px;
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/restourant-images/restoran-hero_desk1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/restourant-images/restoran-hero_desk2x.jpg);
  }
}

.hero__title {
  font-family: "FilmP3", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 20px;
  max-width: 303px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 0.93;
  letter-spacing: 0.3em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    margin-top: 88px;
    margin-bottom: 16px;
    max-width: 404px;
    font-size: 128px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-top: 64px;
    margin-bottom: 32px;
  }
}

.hero__subtitle {
  margin-bottom: 44px;
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}

.hero__description {
  margin-bottom: 113px;
  font-family: "TimesNewRoman", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__description {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1023px) {
  .hero__blok-info {
    display: flex;
    align-items: center;
    margin-top: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__blok-info {
    display: flex;
    margin-top: auto;
    margin-right: auto;
  }
}

.hero__location-upper {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-upper {
    width: 210px;
    height: 47px;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-upper {
    display: none;
  }
}

.hero__location-lower {
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .hero__location-lower {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-lower {
    margin-right: 115px;
    width: 285px;
    height: 56px;
    display: flex;
    text-align: initial;
  }
}
@media screen and (min-width: 1280px) {
  .hero__location-lower {
    margin-right: 297px;
  }
}

.hero__location-link {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}
@media screen and (max-width: 1023px) {
  .hero__location-link {
    font-size: 12px;
    line-height: 15px;
    padding-top: 8px;
    padding-right: 7px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-link {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
  }
}

.hero__location-icon {
  fill: #f3c653;
}
@media screen and (max-width: 1023px) {
  .hero__location-icon {
    margin-left: 6px;
    margin-top: 13px;
    margin-right: 8px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__location-icon {
    margin-left: 10px;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 16px;
  }
}

.hero__button-item {
  margin-bottom: 24px;
}
.hero__button-item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  .hero__button-item {
    margin-bottom: 0;
  }
}

.button {
  cursor: pointer;
  width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
}
.button:hover, .button:focus {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .hero__button-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.hero__soc-box {
  display: flex;
  margin-top: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .hero__soc-box {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__soc-box {
    display: none;
  }
}

.hero__soc-list {
  gap: 20px;
  display: flex;
}

.hero__soc-icon {
  fill: rgba(243, 198, 83, 0.7);
}
.hero__soc-icon:hover, .hero__soc-icon:focus {
  fill: #f3c653;
}/*# sourceMappingURL=index.css.map */