@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff), url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff), url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff), url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff), url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FilmP3";
  src: url(../fonts/FilmP3Bold.woff), url(../fonts/FilmP3Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPSMT.woff), url(../fonts/TimesNewRomanPSMT.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPS-BoldMT.woff), url(../fonts/TimesNewRomanPS-BoldMT.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

body {
  color: #5f5f5f;
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  z-index: 2;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

body {
  margin: 0px;
  background-color: #fffdee;
}

p {
  margin: 0px;
}

.contacts {
  width: 100%;
  max-width: 414px;
  margin: 0px auto;
  padding-top: 36px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .contacts {
    min-width: 1024px;
    padding-top: 56px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    min-width: 1280px;
    padding-bottom: 73px;
  }
}

.contacts-container {
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
@media screen and (min-width: 1024px) {
  .contacts-container {
    min-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
    display: flex;
    gap: 101px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-container {
    min-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    gap: 108px;
  }
}

.contacts-title {
  font-family: "FilmP3", "sans-serif";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .contacts-title {
    font-size: 64px;
    line-height: 1.078125;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-title {
    margin-bottom: 16px;
  }
}

.contacts-subtitle {
  font-family: "Montserrat", "sans-serif";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .contacts-subtitle {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.contacts-list {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .contacts-list {
    margin-bottom: 0px;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 22px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .contacts-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .contacts-item:first-child {
    margin-bottom: 24px;
  }
  .contacts-item:nth-child(2) {
    margin-bottom: 48px;
  }
  .contacts-item:last-child {
    gap: 0px;
  }
}

.contacts-text {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  /* Brown */
  color: #c79002;
  width: 102px;
}

.contacts-block-1 {
  background-color: #ffffff;
  width: 144px;
  height: 40px;
  margin-left: 0px;
  display: flex;
  box-sizing: border-box;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
}

.contacts-block-2 {
  background-color: #ffffff;
  width: 260px;
  height: 40px;
  margin-left: 0px;
  display: flex;
  gap: 12px;
  box-sizing: border-box;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .contacts-block-2 {
    width: 264px;
  }
}

.contacts-block-3 {
  background-color: #ffffff;
  width: 260px;
  height: 76px;
  margin-left: 0px;
  display: flex;
  gap: 12px;
  box-sizing: border-box;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .contacts-block-3 {
    width: 285px;
    height: 56px;
  }
}

.contacts-link {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #494848;
}

.contacts-icon {
  margin-left: 8px;
  margin-top: 9px;
  margin-right: 8px;
  margin-bottom: 7px;
}

.contacts-map-icon {
  margin-left: 10px;
  margin-top: 26px;
  margin-right: 10px;
  margin-bottom: 26px;
}
@media screen and (min-width: 1024px) {
  .contacts-map-icon {
    margin-top: 17px;
    margin-bottom: 15px;
  }
}

.contacts-icon,
.contacts-map-icon {
  fill: #c79002;
}

.contacts-map {
  display: block;
  max-width: 384px;
  max-height: 220px;
  box-sizing: border-box;
  border: 1px solid #bababa;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .contacts-map {
    max-width: 535px;
    max-height: 412px;
    margin-top: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-map {
    max-width: 634px;
    max-height: 412px;
    margin-top: 8px;
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
}

.hp-restaurant__title {
  font-family: "FilmP3", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.93;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 140px;
  margin-bottom: 12px;
  max-width: 127px;
}
@media screen and (min-width: 1024px) {
  .hp-restaurant__title {
    font-size: 64px;
    max-width: 202px;
    margin-bottom: 16px;
    margin-left: 278px;
  }
}
@media screen and (min-width: 1280px) {
  .hp-restaurant__title {
    margin-left: 338px;
  }
}

.hp-restaurant__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 0.83;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 140px;
  margin-bottom: 20px;
  max-width: 127px;
}
@media screen and (min-width: 1024px) {
  .hp-restaurant__subtitle {
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 278px;
  }
}
@media screen and (min-width: 1280px) {
  .hp-restaurant__subtitle {
    margin-left: 338px;
  }
}

.hp-restaurant__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: 0.02em;
  color: #bababa;
  margin-left: 140px;
  margin-bottom: 48px;
  max-width: 259px;
}
@media screen and (min-width: 1024px) {
  .hp-restaurant__text {
    font-size: 16px;
    max-width: 610px;
    margin-left: 278px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hp-restaurant__text {
    margin-left: 338px;
  }
}

.hp-restaurant__btn-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.hp-restaurant__btn {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.02em;
  color: #f3c653;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
}
.hp-restaurant__btn:last-child {
  padding: 14px 32px;
}
.hp-restaurant__btn:hover, .hp-restaurant__btn:focus {
  background: #ffffff;
  border: 2px solid #ffffff;
}

.hp-restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  max-width: 414px;
  height: 735px;
  background: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 1024px) {
  .hp-restaurant {
    max-width: 1024px;
    height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .hp-restaurant {
    max-width: 1280px;
  }
}

.hp-rest-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hp-rest-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hp-rest-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_1x.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hp-rest-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hp-rest-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hp-rest-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_2x.jpg);
  }
}

.homepage-rooms-section {
  background-color: #fffdee;
}

.pre-subtitle {
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #B4B4B4;
  text-align: right;
  margin-bottom: 6px;
}

.subtitle {
  font-family: "FilmP3", "sans-serif";
  text-align: right;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  color: #494848;
  margin-bottom: 16px;
}

.discribe-room-text {
  font-family: "Montserrat", "sans-serif";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  width: 242px;
  margin-bottom: 28px;
  margin-left: auto;
}

.discribe-hotel-text {
  font-family: "Montserrat", "sans-serif";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #c79002;
  width: 163px;
}

.discribe-hotel-wrap {
  display: flex;
  gap: 21px;
  align-items: center;
}

.arrows-list {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  min-width: 414px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.contact-number {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contact-number {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 264px;
    height: 40px;
    left: 102px;
    top: 0px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}

.contact-numb_rest {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contact-numb_rest {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 144px;
    height: 40px;
    left: 134px;
    top: 0px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}

.header-logo {
  font-family: "FilmP3", "suns-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.3em;
  color: white;
  width: 114px;
}
@media screen and (min-width: 1024px) {
  .header-logo {
    font-size: 40px;
    width: 127px;
  }
}

.contact-restoran {
  display: flex;
  align-items: center;
}

.contact-hotel {
  display: flex;
  align-items: center;
}

.contact {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
}

.contact-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  margin-left: 52px;
  margin-right: 12px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list:hover,
.contact-list :focus {
  color: rgb(250, 250, 248);
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contact-list {
    margin-left: 87px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-list {
    margin-left: 96px;
    margin-right: 32px;
  }
}

.list-hotel {
  margin-left: 20px;
  margin-right: 12px;
}
@media screen and (min-width: 1024px) {
  .list-hotel {
    margin-left: 72px;
    margin-right: 32px;
  }
}

.number-hotel {
  display: flex;
}

.contact-list_icon {
  width: 20px;
  height: 20px;
  fill: #f3c653;
  content: "";
}

.contact-tell {
  display: none;
}
@media screen and (min-width: 1024px) {
  .contact-tell {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: white;
    margin-left: 16px;
  }
}

.header-svg {
  width: 24px;
  height: 24px;
  fill: #f3c653;
  content: "";
}

.social-contact {
  display: none;
}
@media screen and (min-width: 1280px) {
  .social-contact {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.footer {
  background-color: #0e0c07;
  margin-left: auto;
  margin-right: auto;
  min-width: 414px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0E0C07;
  margin-left: auto;
  margin-right: auto;
  min-width: 414px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1024px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    min-width: 1024px;
    width: 100%;
  }
}

.footer--baseline {
  display: flex;
  align-items: center;
}

.footer__logo {
  font-family: "FilmP3";
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.3em;
  color: #f3c653;
  color: #f3c653;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-family: "FilmP3", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.3em;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.3em;
  }
}

.footer__position {
  display: flex;
  margin-left: auto;
  gap: 129px;
}
@media screen and (max-width: 1023px) {
  .footer__position {
    margin-left: auto;
    gap: 32px;
  }
}
@media screen and (max-width: 1023px) {
  .footer__position {
    margin-left: auto;
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__position {
    margin-left: auto;
    gap: 199px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  text-align: center;
}

.footer__list-link {
  display: flex;
  gap: 20px;
  padding-left: 8px;
}
@media screen and (min-width: 1024px) {
  .footer__list-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 5px 10px;
  color: #f3c653;
  text-decoration: none;
  margin: 0;
}

.footer__link--border {
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 5px 10px;
  color: #f3c653;
  text-decoration: none;
  margin: 0;
}

.footer__link--border {
  border: 0.5px solid #f3c653;
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .footer__link--border {
    border: none;
  }
}

@media screen and (max-width: 1023px) {
  .footer__hidden {
    display: none;
  }
}

.footer__icon {
  width: 24px;
  height: 24px;
  fill: #f3c653;
  content: "";
  width: 24px;
  height: 24px;
  fill: #f3c653;
  content: "";
}

.footer__item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0 auto;
}

.double-lux {
  display: block;
  position: relative;
  margin: 0 auto;
}

.container {
  box-sizing: border-box;
}

.overlay {
  min-height: 740px;
  background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_mob1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_mob2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .overlay {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_tub1x.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_tub2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .overlay {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_desk1x.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_desk2x.jpg);
  }
}

.lux-slider-wrap-left,
.lux-slider-wrap-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 350px;
  background-color: rgba(0, 0, 0, 0.65);
}
@media screen and (min-width: 1024px) {
  .lux-slider-wrap-left,
.lux-slider-wrap-right {
    bottom: 340px;
  }
}

.lux-slider-wrap-left {
  left: 15px;
}
@media screen and (min-width: 1024px) {
  .lux-slider-wrap-left {
    left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .lux-slider-wrap-left {
    left: 85px;
  }
}

.lux-slider-wrap-right {
  right: 15px;
}
@media screen and (min-width: 1024px) {
  .lux-slider-wrap-right {
    right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .lux-slider-wrap-right {
    right: 85px;
  }
}

.double-lux-slider-icon {
  fill: #ffffff;
}
.double-lux-slider-icon:hover {
  fill: #f3c653;
}

.double-lux-tittle {
  position: absolute;
  bottom: 200px;
  width: 300px;
  height: 64px;
  font-style: normal;
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 414px) {
  .double-lux-tittle {
    width: 325px;
  }
}
@media screen and (min-width: 1024px) {
  .double-lux-tittle {
    bottom: 211px;
    width: 510px;
    height: 41px;
    font-size: 36px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .double-lux-tittle {
    bottom: 155px;
  }
}

.double-lux-text {
  position: absolute;
  bottom: 138px;
  width: 300px;
  height: 51px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 414px) {
  .double-lux-text {
    bottom: 128px;
    width: 325px;
    height: 61px;
  }
}
@media screen and (min-width: 1024px) {
  .double-lux-text {
    bottom: 104px;
    width: 400px;
    height: 83px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .double-lux-text {
    bottom: 48px;
  }
}

.double-lux-list {
  position: absolute;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .double-lux-list {
    flex-direction: row;
    right: 540px;
    bottom: 38px;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .double-lux-list {
    display: none;
  }
}

.double-lux-icon {
  fill: rgba(243, 198, 83, 0.7);
}

.double-lux-adress {
  display: none;
}
@media screen and (min-width: 1024px) {
  .double-lux-adress {
    display: block;
    position: absolute;
    bottom: 24px;
    width: 285px;
    height: 56px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1280px) {
  .double-lux-adress {
    display: none;
  }
}

.double-lux-adress-link {
  position: absolute;
  left: 44px;
  top: 8px;
  bottom: 8px;
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.double-lux-adress-icon {
  position: absolute;
  left: 10px;
  top: 16px;
  bottom: 16px;
  fill: #f3c653;
}

.double-lux-button {
  position: absolute;
  bottom: 40px;
  right: 23px;
  padding: 14px 35px;
  min-width: 232px;
  height: 48px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
}
.double-lux-button:hover {
  background: #ffffff;
}
@media screen and (min-width: 414px) {
  .double-lux-button {
    right: 73px;
  }
}
@media screen and (min-width: 1024px) {
  .double-lux-button {
    bottom: 64px;
    right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .double-lux-button {
    bottom: 66px;
    right: 85px;
  }
}

.backdrope-modal-price {
  width: 100%;
  height: 100%;
  background-color: #fffdee;
  position: fixed;
  top: 0;
}

.modal-room {
  box-sizing: border-box;
  width: 414px;
  min-height: 780px;
  padding: 60px 15px 60px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  background-color: #fffdee;
}
@media screen and (min-width: 1024px) {
  .modal-room {
    border: 1px solid blue;
    width: 712px;
    min-height: 638px;
    padding: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-room {
    border: 1px solid green;
  }
}

.modal-prise-close {
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  position: absolute;
  right: 16px;
  top: 16px;
}

.modal-prise-close-icon {
  fill: rgb(128, 128, 128);
}

.modal-room-title {
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .modal-room-title {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 36px;
  }
}

.modal-room-contacts {
  width: 384px;
  display: block;
}
.modal-room-contacts:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .modal-room-contacts:not(:last-child) {
    margin-bottom: 0px;
  }
}

.modal-room-input {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  border: 1px solid #c79002;
  padding-left: 12px;
  background-color: #fffdee;
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #808080;
  margin-bottom: 8px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-room-input:hover, .modal-room-input:focus {
  border-color: #c79002;
}
.modal-room-input::-moz-placeholder {
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}
.modal-room-input:-ms-input-placeholder {
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}
.modal-room-input::placeholder {
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}
@media screen and (min-width: 1024px) {
  .modal-room-input::-moz-placeholder {
    font-size: 24px;
    line-height: 1.1666666667;
  }
  .modal-room-input:-ms-input-placeholder {
    font-size: 24px;
    line-height: 1.1666666667;
  }
  .modal-room-input::placeholder {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1024px) {
  .modal-room-input {
    height: 64px;
  }
}

.modal-price-input:not(:focus):not(:-moz-placeholder-shown):valid {
  border-color: #C79002;
}

.modal-price-input:not(:focus):not(:-ms-input-placeholder):valid {
  border-color: #C79002;
}

.modal-price-input:not(:focus):not(:placeholder-shown):valid {
  border-color: #C79002;
}

.modal-price-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  border-color: rgb(217, 14, 45);
}

.modal-price-input:not(:focus):not(:-ms-input-placeholder):invalid {
  border-color: rgb(217, 14, 45);
}

.modal-price-input:not(:focus):not(:placeholder-shown):invalid {
  border-color: rgb(217, 14, 45);
}

.modal-room-label {
  display: block;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #C79002;
  margin-left: 27px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .modal-room-label {
    margin-left: 12px;
  }
}

.modal-room-select {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  border: 1px solid #c79002;
  padding-left: 15px;
  background-color: #fffdee;
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #808080;
  margin-bottom: 8px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-room-select:hover, .modal-room-select:focus {
  border-color: #c79002;
}
@media screen and (min-width: 1024px) {
  .modal-room-select {
    height: 64px;
    width: 288px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-room-wrap-tablet {
    display: flex;
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .direction-right {
    display: flex;
    justify-content: flex-end;
  }
}

.modal-price-btn {
  width: 100%;
  height: 64px;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;
  font-family: "Montserrat", "sans-serif";
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-price-btn:hover, .modal-price-btn:focus {
  background-color: #f3c653;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .modal-price-btn {
    margin-top: 0;
  }
}

.menu {
  background-color: #f0ecd6;
  padding-bottom: 32px;
  padding-top: 32px;
}
@media screen and (min-width: 1024px) {
  .menu {
    padding-bottom: 40px;
    padding-top: 58px;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.menu__container {
  margin: 0 auto;
  position: relative;
}

.menu__header {
  font-family: "TimesNewRoman", "sans-serif";
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15625;
  color: #000000;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .menu__header {
    margin-bottom: 40px;
  }
  .menu__header::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    z-index: 1;
    top: 0;
    height: 616px;
    right: 265px;
    transform: translateY(-58px);
  }
}
@media screen and (min-width: 1280px) {
  .menu__header {
    margin-bottom: 40px;
  }
  .menu__header::after {
    right: 640px;
  }
  .menu__header::before {
    content: "";
    position: absolute;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    z-index: 1;
    top: 0;
    height: 616px;
    right: 338px;
    transform: translateY(-58px);
  }
}

@media screen and (min-width: 1024px) {
  .menu__flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__flex::before {
    content: "";
    position: absolute;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    z-index: 1;
    top: 0;
    height: 616px;
    left: 338px;
    transform: translateY(-58px);
  }
}

.menu__first-flex {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu__first-flex {
    width: 412px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__first-flex {
    width: 485px;
  }
}

.menu__second-flex {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu__second-flex {
    width: 430px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__second-flex {
    width: 485px;
  }
}

.hot-meals__header,
.appetizers__header,
.salads__header,
.desserts__header,
.drinkables__header {
  font-family: "TimesNewRoman", "sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  padding-bottom: 16px;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .hot-meals__header,
.appetizers__header,
.salads__header,
.desserts__header,
.drinkables__header {
    padding-bottom: 20px;
  }
}

.hot-meals__list,
.appetizers__list,
.salads__list,
.desserts__list,
.drinkables__list {
  padding-bottom: 16px;
  display: block;
}
@media screen and (min-width: 1024px) {
  .hot-meals__list,
.appetizers__list,
.salads__list,
.desserts__list,
.drinkables__list {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .hot-meals__item,
.appetizers__item {
    width: 430px;
  }
}
@media screen and (min-width: 1280px) {
  .hot-meals__item,
.appetizers__item {
    width: 485px;
  }
}

.desserts__item,
.drinkables__item {
  height: 20px;
}

.drinkables__list {
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .drinkables__list {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .appetizers__list {
    padding-bottom: 0;
  }
}

.hot-meals__item,
.appetizers__item,
.salads__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}
.hot-meals__item:nth-last-child(1),
.appetizers__item:nth-last-child(1),
.salads__item:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 414px) {
  .hot-meals__item,
.appetizers__item,
.salads__item {
    width: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .hot-meals__item,
.appetizers__item,
.salads__item {
    width: 410px;
  }
}
@media screen and (min-width: 1280px) {
  .hot-meals__item,
.appetizers__item,
.salads__item {
    width: 485px;
  }
}

.hot-meals__box-name,
.appetizers__box-name,
.salads__box-name {
  width: 200px;
}
@media screen and (min-width: 414px) {
  .hot-meals__box-name,
.appetizers__box-name,
.salads__box-name {
    width: 220px;
  }
}
@media screen and (min-width: 1280px) {
  .hot-meals__box-name,
.appetizers__box-name,
.salads__box-name {
    width: 257px;
  }
}

.hot-meals__box-price-weight,
.appetizers-box-price-weight,
.salads-box-price-weight,
.desserts__box,
.drinkables__box {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 414px) {
  .hot-meals__box-price-weight,
.appetizers-box-price-weight,
.salads-box-price-weight,
.desserts__box,
.drinkables__box {
    gap: 32px;
  }
}

.hot-meals__name,
.appetizers__name,
.salads__name,
.desserts__name,
.drinkables__name {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding-bottom: 4px;
  width: 220px;
}
@media screen and (min-width: 1280px) {
  .hot-meals__name,
.appetizers__name,
.salads__name,
.desserts__name,
.drinkables__name {
    width: 290px;
  }
}

.desserts__name,
.drinkables__name {
  padding-bottom: 0;
}

.hot-meals__ingridients,
.appetizers__ingridients,
.salads__ingridients {
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  width: 210px;
}

.hot-meals__weight,
.appetizers__weight,
.salads__weight,
.desserts__weight,
.drinkables__weight {
  font-family: "Montserrat", "sans-serif";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.02em;
  color: #000000;
}

.hot-meals__price,
.appetizers__price,
.salads__price,
.desserts__price,
.drinkables__price {
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.02em;
  color: #000000;
}

.salads__item,
.desserts__item,
.drinkables__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}
.salads__item:nth-last-child(1),
.desserts__item:nth-last-child(1),
.drinkables__item:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 414px) {
  .salads__item,
.desserts__item,
.drinkables__item {
    width: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .salads__item,
.desserts__item,
.drinkables__item {
    width: 430px;
  }
}
@media screen and (min-width: 1280px) {
  .salads__item,
.desserts__item,
.drinkables__item {
    width: 485px;
  }
}

.button__menu {
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  background-color: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  padding: 13px 22px;
  display: block;
  margin: 0 auto;
}
.button__menu:hover, .button__menu:focus {
  border-radius: 25px;
}
@media screen and (min-width: 1024px) {
  .button__menu {
    margin-right: 0;
  }
}

.container > li {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 0px;
  width: 0;
  height: 100%;
  border: 1px solid rgba(186, 186, 186, 0.4);
  filter: blur(0.5px);
}

.line1 {
  margin-left: 140px;
}
@media screen and (min-width: 1024px) {
  .line1 {
    margin-left: 278px;
  }
}
@media screen and (min-width: 1280px) {
  .line1 {
    margin-left: 338px;
  }
}

.line2 {
  margin-left: 274px;
}
@media screen and (min-width: 1024px) {
  .line2 {
    margin-left: 512px;
  }
}
@media screen and (min-width: 1280px) {
  .line2 {
    margin-left: 640px;
  }
}

.line3 {
  margin-left: -100px;
}
@media screen and (min-width: 1024px) {
  .line3 {
    margin-left: 746px;
  }
}
@media screen and (min-width: 1280px) {
  .line3 {
    margin-left: 942px;
  }
}

.button-reserv {
  width: 434px;
  height: 64px;
  font-size: 24px;
  line-height: 1.2;
  border-radius: 25px;
}

.button-modal {
  width: 592px;
  height: 64px;
  font-size: 24px;
  line-height: 1.2;
  border-radius: 2px;
}

.button-modal-mob-oval {
  width: 384px;
  height: 64px;
  border-radius: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.button-modal-mob-rectangle {
  width: 384px;
  height: 64px;
  border-radius: 2px;
  font-size: 20px;
  line-height: 1.2;
}

.button-reserv, .button-modal, .button-modal-mob-oval, .button-modal-mob-rectangle {
  background: #000000;
  border: 1px solid #f3c653;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  transition: background-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-reserv:hover, .button-reserv:focus, .button-modal:hover, .button-modal:focus, .button-modal-mob-oval:hover, .button-modal-mob-oval:focus, .button-modal-mob-rectangle:hover, .button-modal-mob-rectangle:focus {
  background: #f3c653;
  color: #000000;
}

.button-gray {
  background: rgba(0, 0, 0, 0.4);
}

.button-black {
  background: #000000;
}

.button-gray, .button-black {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.02em;
  color: #f3c653;
  border: 2px solid #ffffff;
  border-radius: 25px;
  width: 236px;
  height: 48px;
  transition: background-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-gray:hover, .button-gray:focus, .button-black:hover, .button-black:focus {
  background: #ffffff;
  border: 2px solid #ffffff;
}/*# sourceMappingURL=index.css.map */