<footer class="footer">
   <ul class="footer__line">
     <li class="line-one"></li> 
     <li class="line-two"></li> 
 </ul>
    <div class="container footer--baseline">
        <a href="#" class="footer__logo">MIMIHO</a>
        <div class="footer__position">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">Головна</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Ресторан</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Готель</a>
                </li>
            </ul>
            <ul class="footer__list-link">
                <li class="footer__item">
                    <a href="#" class="footer__link footer__link--border"><span class="footer__hidden">Telegram</span>
                        <svg class="footer__icon">
                            <use href="./svg/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link footer__link--border"><span class="footer__hidden">Facebook</span>
                        <svg class="footer__icon">
                            <use href="./svg/icons.svg#icon-fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link footer__link--border"><span class="footer__hidden">Instagram</span>
                        <svg class="footer__icon">
                            <use href="./svg/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>