// Перший контейнер, заголовок, текст і фото
.meal-first-hall {
    padding-top: 16px;
    padding-bottom: 16px;
    @include tablet {
        padding-top: 120px;
        padding-bottom: 142px;
        position: relative;
    }
}

.meal-pretitle-text {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    display: block;
    margin-bottom: 12px;
    @include tablet {
        font-size: 32px;
        line-height: 1.16;
        margin-bottom: 4px;
    }
}

.meal-title {
    font-family: $film-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: $contact-text-color;
    display: block;
    margin-bottom: 12px;
    @include tablet {
        font-size: 64px;
        margin-bottom: 24px;
    }
    @include desktop {
        color: #828282;
    }
}

.meal-aftertitle-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $main-text-color;
    display: block; 
    width: 258px;
    margin-bottom: 28px;
    @include tablet {
        font-size: 16px;
        width: 439px;
    }
    @include desktop {
        width: 518px;
    }
}

.first-hall-photo {
    width: 244px;
    margin-left: auto;
    box-shadow: $picture-shadow;
    border-radius: 2px;
    background-color: #DADADA;
    @include tablet {
        position: absolute;
        width: 400px;
        top: -32px;
        left: 465px;
        margin: 0;
    }
    @include desktop {
        width: 460px;
        top: -33px;
        left: 555px;
    }
}

// Другий контейнер, фото + текст

.meal-second-hall {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    display: flex;
    align-items: center;
    @include tablet {
        padding-bottom: 133px;
        padding-top: 155px;
    }
    
}

.second-hall-photo {
    width: 200px;
    @include tablet {
        position: absolute;
        width: 350px;
        top: -32px;
        left: 0px;
    }
    @include desktop {
        width: 460px;
        top: 0;
    }
}

.second-hall-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $brown-text-color;
    display: block;
    width: 163px;
    margin-left: 20px;
    @include tablet {
        width: 312px;
        font-size: 16px;
        margin-left: 398px;
    }
    @include desktop {
        width: 312px;
        margin-left: 492px;
    }
}

.slick {
    padding-top: 21px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
