.hp-hotel__container {
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 47px;
    padding-bottom: 96px;
  }
  @include desktop {
    padding-left: 52px;
  }
}

.hp-hotel__title {
  font-family: 'FilmP3', sans-serif;
  font-style: normal;
  @include font(40px, 700, 0.93, 0.3em);
  color: $white;
  text-transform: uppercase;

  margin-bottom: 12px;
  max-width: 127px;
  padding-left: 111px;
  @include tablet {
    font-size: 64px;
    max-width: 202px;
    margin-bottom: 16px;
    padding-left: 500px;
  }
}

.hp-hotel__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(20px, 700, 0.83, 0.02em);
  color: $white;

  margin-bottom: 20px;
  max-width: 127px;
  @include tablet {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.hp-hotel__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(12px, 600, 1.25, 0.02em);
  color: $text-color-for-dark-bg;

  margin-bottom: 48px;
  max-width: 259px;
  @include tablet {
    font-size: 16px;
    max-width: 549px;
    margin-bottom: 40px;
  }
  @include desktop {
    max-width: 595px;
  }
}

.hp-hotel__wrap-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 243px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-left: 17px;
  @include tablet {
    max-width: 549px;
    margin-left: 150px;
  }
  @include desktop {
    max-width: 595px;
  }
}

.hp-hotel__btn-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;

  @media screen and (max-width: 414px) {
    justify-content: flex-end;
  }
  @include tablet {
  }
}

.hp-hotel__btn {
  padding: 14px 24px;
  &:last-child {
    padding: 14px 32px;
  }
}

.hp-hotel {
  position: relative;
  max-width: 414px;
  height: 735px;
  background: rgba(0, 0, 0, 0.7);
  @include tablet {
    max-width: 1024px;
    height: 620px;
  }
  @include desktop {
    max-width: 1280px;
  }
}

.hp-hotel-overlay {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/src/images/homepage-images/homepage-mobile/hp-hotel-bg-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include ratio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-mobile/hp-hotel-bg-mob_2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-tablet/hp-hotel-bg-tab_1x.jpg);
    @include ratio {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/homepage-images/homepage-tablet/hp-hotel-bg-tab_2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-desktop/hp-hotel-bg-desk_1x.jpg);
  }
  @include ratio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-desktop/hp-hotel-bg-desk_2x.jpg);
  }
}

// slider

.hp-hotel-slider .slick-track {
  display: flex;
  gap: 20px;
  overflow: hidden;
  @include tablet {
    gap: 34px;
  }
  @include desktop {
    gap: 86px;
  }
}

.hp-hotel-slider__img {
  border-radius: 2px;
}
.hp-hotel-slider .slick-list {
  overflow: hidden;
  @include tablet {
    width: 660px;
  }
  @include desktop {
    width: 876px;
  }
}

.hp-reserve__wrap-bottom {
  @include tablet {
    display: flex;
    gap: 15px;
  }
}

// Стилізація кнопок стрілочок які перемикають слайди
.hp-hotel-slider {
  position: relative;
  padding-right: 40px;
  margin-bottom: 80px;
  @include tablet {
    padding-right: 0;
    margin-bottom: 0;
  }
}
// КНОПКИ- СТРІЛОЧКИ ДО СЛАЙДЕРА  ЗАГАЛЬНІ СТИЛІ
.hp-hotel-slider .slick-arrow {
  position: absolute;
  top: 100%;
  font-size: 0;
  width: 30px;
  height: 17px;
  transform: translateY(24px);
  @include tablet {
    transform: translateY(32px);
  }
}

// КНОПКА ЛІВОРУЧ
.hp-hotel-slider .slick-arrow.slick-prev {
  left: 266px;
  background: url(/src/svg/arrow-left-white.svg) 0 0 / 100% no-repeat;
  @include tablet {
    left: 562px;
  }
  @include desktop {
    left: 778px;
  }
  &:hover,
  &:focus {
    background: url(/src/svg/arrow-left-yellow-hp.svg) 0 0 / 100% no-repeat;
  }
}

.hp-hotel-slider .slick-arrow.slick-prev::before {
  color: transparent;
}

// КНОПКА ПРАВОРУЧ

.hp-hotel-slider .slick-arrow.slick-next {
  left: 326px;
  cursor: pointer;
  background: url(/src/svg/arrow-right-white.svg) 0 0 / 100% no-repeat;
  @include tablet {
    left: 628px;
  }
  @include desktop {
    left: 838px;
  }
  &:hover,
  &:focus {
    background: url(/src/svg/arrow-right-yellow-hp.svg) 0 0 / 100% no-repeat;
  }
}

.hp-hotel-slider .slick-arrow.slick-next::before {
  color: transparent;
}
