.homepage-rooms-section{
    background-color: $background-light-lemon;
}
.pre-subtitle{
    font-family: $times-font;
font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    text-align: right;
    margin-bottom: 6px;
}
.subtitle{
    font-family: $film-font;
        // font-style: normal;
        text-align: right;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.08;
        // letter-spacing: 0.3em;
        color: #494848;
        margin-bottom: 16px;
}

.discribe-room-text{
    font-family: $montserrat-font;
        // font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $main-text-color;
        width: 242px;
        margin-bottom: 28px;
        margin-left: auto;
}

.discribe-hotel-text{
    font-family: $montserrat-font;
        // font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $brown-text-color;
        width: 163px;
}

.discribe-hotel-wrap{
    display: flex;
    gap: 21px;
    align-items: center;
}

.arrows-list{
    display: flex;
    gap: 32px;
    margin-top: 20px;
}