.hp-restaurant__container {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 15px 40px 15px;
  @include tablet {
    padding: 48px 50px 96px 47px;
  }
  @include desktop {
    padding: 48px 0 96px 85px;
  }
}

.hp-restaurant__title {
  font-family: 'FilmP3', sans-serif;
  font-style: normal;
  @include font(40px, 700, 0.93, 0.3em);
  color: $white;
  text-transform: uppercase;

  margin-left: 125px;
  margin-bottom: 12px;
  max-width: 127px;
  @include tablet {
    font-size: 64px;
    max-width: 202px;
    margin-bottom: 16px;
    margin-left: 230px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(20px, 700, 0.83, 0.02em);
  color: $white;

  margin-left: 125px;
  margin-bottom: 20px;
  max-width: 127px;
  @include tablet {
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 230px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(12px, 600, 1.25, 0.02em);
  color: $text-color-for-dark-bg;

  margin-left: 125px;
  margin-bottom: 48px;
  max-width: 259px;
  @include tablet {
    font-size: 16px;
    max-width: 610px;
    margin-left: 230px;
    margin-bottom: 40px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__btn-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.hp-restaurant__btn {
  display: flex;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(16px, 700, 0.8, 0.02em);
  color: $accent-color;

  border: 2px solid #ffffff;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);

  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  &:last-child {
    padding: 14px 32px;
  }

  &:hover,
  &:focus {
    background: $white;
    border: 2px solid #ffffff;
  }
}

.hp-restaurant {
  max-width: 414px;
  height: 735px;
  background: rgba(0, 0, 0, 0.7);
  @include tablet {
    max-width: 1024px;
    height: 620px;
  }
  @include desktop {
    max-width: 1280px;
  }
}

.hp-rest-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include ratio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_1x.jpg);

    @include ratio {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_1x.jpg);

    @include ratio {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_2x.jpg);
    }
  }
}

// ARROWS
// .arrows {
//   display: flex;
//   gap: 34px;
//   margin-left: 277px;
//   margin-bottom: 40px;
//   &__btn {
//     background-color: transparent;
//     border: none;
//   }
//   &__icon {
//     fill: $white;
//   }
// }

// slider

// .one-time {
//   width: 800px;
//   margin: 0 auto;
// }

// флекс ел
// .slider {
//   min-width: 0;
// }

// Стилізація кнопок стрілочок які перемикають слайди
.hp-rest-slider {
  position: relative;
  margin-bottom: 80px;
  padding-left: 25px;
  @include tablet {
    margin-bottom: 0;
    width: 645px;
    padding-left: 0;
  }
}
// КНОПКИ- СТРІЛОЧКИ ДО СЛАЙДЕРА абсолютно позиціонуєм відносно слайдера
.hp-rest-slider .slick-arrow {
  position: absolute;
  top: 100%;
  font-size: 0;
  width: 35px;
  height: 20px;
  z-index: 0;
  transform: translateY(24px);
}

.hp-rest-slider .slick-arrow.slick-prev {
  left: 277px;
  // -webkit-mask-image: url('/src/svg/slider-arrow-left.svg');
  // mask-image: url('/src/svg/slider-arrow-left.svg');
  background-color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.hp-rest-slider .slick-arrow.slick-next {
  right: 20px;
}

.slick-track {
  display: flex;
  gap: 25px;
  overflow: hidden;
  // margin-left: -100px;
  @include tablet {
    gap: 34px;
  }
  @include desktop {
    gap: 86px;
  }
}

.hp-rest-slider__img {
  border-radius: 2px;
}
.slick-list {
  overflow: hidden;
  @include tablet {
    width: 660px;
  }
  @include desktop {
    width: 876px;
  }
}

.slider__wrap {
  position: relative;
}

//  КНОПКИ РОЗМІЩЕННЯ СКЛАДНИМ ДЛЯ МЕНЕ СПОСОБОМ

// .arrows {
//   position: absolute;
//   bottom: -32px;
//   right: 20px;
//   width: 94px;

//   @media screen and (min-width: 1024px) {
//     right: 3px;
//   }
// }

// .arrows .slick-arrow {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-9px);
//   width: 30px;
//   height: 18px;
//   z-index: 10;
//   font-size: 0;
//   border: none;
// }

// .arrows .slick-arrow.slick-prev {
//   left: 0;
//   -webkit-mask-image: url('/src/svg/slider-arrow-left.svg');
//   mask-image: url('/src/svg/slider-arrow-left.svg');
//   background-color: $white;
//   cursor: pointer;

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }

// .arrows .slick-arrow.slick-next {
//   right: 0;
//   -webkit-mask-image: url('/src/svg/slider-arrow-right.svg');
//   mask-image: url('/src/svg/slider-arrow-right.svg');
//   background-color: $white;
//   // background-repeat: no-repeat;
//   // background-position: center center;
//   // background-size: contain;
//   cursor: pointer;

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }

.hp-rest__wrap-bottom {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    gap: 9px;
    justify-content: start;
  }
  @include desktop {
    gap: 16px;
  }
}
