.homepage-rooms-section {
  position: relative;
  padding-bottom: 72px;
  @include tablet {
    padding-bottom: 96px;
  }
  @include desktop {
    padding-bottom: 122px;
  }
}

.discribe-room-wrap {
  position: relative;
  margin-bottom: 32px;
  padding-top: 18px;
  // outline: 1px solid red;

  @include tablet {
    padding-top: 120px;
    margin-bottom: 142px;
  }

  @include desktop {
    margin-bottom: 162px;
  }
}

.homepage-room-img {
  @include tablet {
    position: absolute;
    left: 65px;
    top: -24px;
  }

  @include desktop {
    left: 95px;
  }
}

.homepage-hotel-img {
  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.pre-subtitle {
  font-family: $times-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  text-align: right;
  margin-bottom: 6px;

  @include tablet {
    font-size: 32px;
    line-height: 1.16;
    margin-bottom: 4px;
  }
}

.subtitle {
  font-family: $film-font;
  // font-style: normal;
  text-align: right;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 16px;

  @include tablet {
    font-size: 64px;
    margin-bottom: 24px;
  }

  @include desktop {
    color: #828282;
  }
}

.discribe-room-text {
  font-family: $montserrat-font;
  // font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $main-text-color;
  width: 242px;
  margin-bottom: 28px;
  margin-left: auto;

  @include tablet {
    font-size: 16px;
    line-height: 1.33;
    width: 419px;
  }

  @include desktop {
    width: 488px;
  }
}

.discribe-hotel-text {
  font-family: $montserrat-font;
  // font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $brown-text-color;
  margin-right: 21px;
  width: 163px;

  @include tablet {
    font-size: 16px;
    line-height: 1.33;
    margin-right: 398px;
    width: 312px;
  }

  @include desktop {
    margin-right: 505px;
    width: 311px;
  }
}

.discribe-hotel-wrap {
  position: relative;
  display: flex;
  // gap: 21px;
  align-items: center;
  justify-content: end;
  margin-bottom: 32px;
  // outline: 1px solid green;

  @include tablet {
    padding-top: 196px;
    margin-bottom: 154px;
  }

  @include desktop {
    padding-top: 169px;
    margin-bottom: 116px;
  }
}

// .homepage-room-img,
// .homepage-hotel-img,
// .homepage-slick-img {
//   background: #dadada;
//   box-shadow: $picture-shadow;
//   border-radius: 2px;
// }

// SLIDER

.describe-hotel__slider-wrap {
  position: relative;
  width: 325px;
  @include tablet {
    width: 428px;
  }
  @include desktop {
    width: 548px;
  }
}

.describe-hotel__slider-img {
  @include mobile {
    width: 245px;
  }

  @include tablet {
    width: 194px;
  }

  @include desktop {
    width: 254px;
  }
}
// .hp-rooms-slick {
//   position: relative;
//   top: 0;
//   right: 69px;
//   display: flex;
//   gap: 20px;
//   margin-bottom: 20px;

//   @include tablet {
//     position: static;
//     gap: 40px;
//     margin-bottom: 32px;
//   }

//   @include desktop {
//     margin-bottom: 40px;
//   }
// }

.hp-rooms-slick {
  position: relative;
}

.hp-rooms-slick .slick-track {
  display: flex;
  gap: 16px;
  margin-left: 90px;
  @include tablet {
    gap: 40px;
    margin-left: 10;
  }
}

.hp-rooms-slick .homepage-slick-img {
  border-radius: 2px;
}

// СТИЛІ ДО СТРІЛОК
.hp-rooms-slick .slick-arrow {
  position: absolute;
  top: 100%;
  font-size: 0;
  width: 30px;
  height: 17px;
  z-index: 1;
  transform: translateY(28px);
  @include tablet {
    transform: translateY(40px);
  }
  @include desktop {
    transform: translateY(48px);
  }
}

// СТИЛІ ДЛЯ СТРІЛКИ ЛІВОРУЧ
.hp-rooms-slick .slick-arrow.slick-prev {
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='31' height='18' viewBox='0 0 31 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.0834 7.99993H4.00581L10.0055 2.00025L8.5913 0.58606L0.177368 8.99999L8.5913 17.4139L10.0055 15.9997L4.00568 9.99993H30.0834V7.99993Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 7.48971H3.84047L9.85902 1.42865L8.44038 0L0 8.5L8.44038 17L9.85902 15.5713L3.84035 9.51017H30V7.48971Z' fill='%23F3C653'/%3E%3C/svg%3E");
  }
}
.hp-rooms-slick .slick-arrow.slick-prev::before {
  opacity: 0;
}

// СТИЛІ ДЛЯ СТРІЛКИ ПРАВОРУЧ
.hp-rooms-slick .slick-arrow.slick-next {
  left: 65;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4921 0.58606L20.0779 2.00025L26.0777 8.00006H0V10.0001H26.0775L20.0779 15.9997L21.4921 17.4139L29.9061 8.99999L21.4921 0.58606Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5595 0L20.1409 1.42865L26.1595 7.48984H0V9.51036H26.1594L20.1409 15.5713L21.5595 17L30 8.5L21.5595 0Z' fill='%23F3C653'/%3E%3C/svg%3E");
  }
}
.hp-rooms-slick .slick-arrow.slick-next::before {
  opacity: 0;
}
