.container {
  box-sizing: border-box;
  width: 100%;
}

.hp-restaurant__title {
  font-family: 'FilmP3', sans-serif;
  font-style: normal;
  @include font(40px, 700, 0.93, 0.3em);
  color: $white;
  text-transform: uppercase;

  margin-left: 140px;
  margin-bottom: 12px;
  max-width: 127px;
  @include tablet {
    font-size: 64px;
    max-width: 202px;
    margin-bottom: 16px;
    margin-left: 278px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(20px, 700, 0.83, 0.02em);
  color: $white;

  margin-left: 140px;
  margin-bottom: 20px;
  max-width: 127px;
  @include tablet {
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 278px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(12px, 600, 1.25, 0.02em);
  color: $text-color-for-dark-bg;

  margin-left: 140px;
  margin-bottom: 48px;
  max-width: 259px;
  @include tablet {
    font-size: 16px;
    max-width: 610px;
    margin-left: 278px;
    margin-bottom: 40px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__btn-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.hp-restaurant__btn {
  display: flex;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(16px, 700, 0.8, 0.02em);
  color: $accent-color;

  border: 2px solid #ffffff;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);

  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  &:last-child {
    padding: 14px 32px;
  }

  &:hover,
  &:focus {
    background: $white;
    border: 2px solid #ffffff;
  }
}

.hp-restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  max-width: 414px;
  height: 735px;
  background: rgba(0, 0, 0, 0.7);
  @include tablet {
    max-width: 1024px;
    height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;
  }
  @include desktop {
    max-width: 1280px;
  }
}

.hp-rest-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include ratio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_1x.jpg);

    @include ratio {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_1x.jpg);

    @include ratio {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_2x.jpg);
    }
  }
}

// arrows

// .hp-restaurant-slider__buttons {
//   margin-bottom: 40px;
//   position: relative;
// }

// .hp-restaurant-slider__arrow-left,
// .hp-restaurant-slider__arrow-right {
//   background: transparent;
//   border: none;
// }

// .hp-restaurant-slider__arrow-left {
//   margin-right: 34px;
// }

// .hp-restaurant-slider__icon {
//   fill: $white;
//   &:hover,
//   &:focus {
//     fill: $accent-color;
//   }
// }

// .slick-next:before {
//   width: 45px;
//   height: 25px;
//   cursor: pointer;
//   // background-color: rgba(0, 0, 0, 0);
//   background-color: red;
//   border: none;
//   font-size: 0;
//   position: absolute;
//   left: 55px;
// }

//  SLIDER TEST
// если слайдер внутри флекс ел или сам флекс ел - указ мин виз 0 иначе не будет работать
// .slider {
//   min-width: 0;
// }
// .flex__column{
//   min-width: 0;
// }

// обмежуюча оболонка
// .slick-list {
//   overflow: hidden;
// }
// лента слайдів (если нужно включить адаптивную высоту - доб со 2 строки)
.slick-track {
  // display: flex;
  // align-items: flex-start;
  // gap: 20px;
}

// конкретный слайдер

// .hp-restaurant-slider {
//   position: relative;
//   padding-left: 40px;
// }

// звертаюсь до стрілки всередині слайдера
.hp-restaurant-slider .slick-arrow {
  // position: absolute;
  // top: 50%;
  // z-index: 10;

  // font-size: 0;
  // width: 30px;
  // height: 17px;
}

.hp-restaurant-slider .slick-arrow.slick-prev {
  // left: 0;
  // background: url(/src/svg/icons.svg#icon-double-lux-arrow-left) 0 0 / 100%
  //   no-repeat;

  // position: absolute;
  // background-color: transparent;
  // font-size: 0;
  // z-index: 10;
  // width: 45px;
  // height: 25px;
  // border: none;
  // cursor: pointer;
}

.hp-restaurant-slider .slick-arrow.slick-next {
  // right: 0;
  // background: url(/src/svg/icons.svg#icon-double-lux-arrow-right) 0 0 / 100%
  //   no-repeat;
  // fill: $white;

  // position: absolute;
  // background-color: transparent;
  // font-size: 0;
  // width: 45px;
  // height: 25px;
  // left: 55px;
  // border: none;
  // cursor: pointer;
}

// .hp-restaurant-slider__item {
//   text-align: center;
// }

// ще одна версія перенесення кнопок
// .hp-restaurant-slider .slick-prev {
//   position: absolute;
//   background-color: transparent;
//   font-size: 0;
//   z-index: 10;
//   width: 45px;
//   height: 25px;
//   border: none;
//   cursor: pointer;
//   &:hover,
//   &:focus {
//     .hp-restaurant-slider__icon {
//       fill: $accent-color;
//     }
//   }
// }

// .hp-restaurant-slider .slick-next {
//   position: absolute;
//   background-color: transparent;
//   font-size: 0;
//   width: 45px;
//   height: 25px;
//   left: 55px;
//   border: none;
//   cursor: pointer;
//   &:hover,
//   &:focus {
//     .hp-restaurant-slider__icon {
//       fill: $accent-color;
//     }
//   }
// }
