.hp-restaurant__container {
  box-sizing: border-box;
  padding: 24px 15px 40px 15px;
  @include tablet {
    padding: 47px 50px 96px 47px;
  }
  @include desktop {
    padding: 47px 0 96px 85px;
  }
}

.hp-restaurant__title {
  font-family: 'FilmP3', sans-serif;
  font-style: normal;
  @include font(40px, 700, 0.93, 0.3em);
  color: $white;
  text-transform: uppercase;

  margin-left: 125px;
  margin-bottom: 12px;
  max-width: 127px;
  @include tablet {
    font-size: 64px;
    max-width: 202px;
    margin-bottom: 16px;
    margin-left: 230px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(20px, 700, 0.83, 0.02em);
  color: $white;

  margin-left: 125px;
  margin-bottom: 20px;
  max-width: 127px;
  @include tablet {
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 230px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(12px, 600, 1.25, 0.02em);
  color: $text-color-for-dark-bg;

  margin-left: 125px;
  margin-bottom: 48px;
  max-width: 259px;
  @include tablet {
    font-size: 16px;
    max-width: 610px;
    margin-left: 230px;
    margin-bottom: 40px;
  }
  @include desktop {
    margin-left: 338px;
  }
}

.hp-restaurant__btn-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 80px;
}

.hp-restaurant__btn {
  padding: 14px 24px;
  &:last-child {
    padding: 14px 32px;
  }
}

.hp-restaurant {
  position: relative;
  max-width: 414px;
  height: 735px;
  background: rgba(0, 0, 0, 0.7);
  @include tablet {
    max-width: 1024px;
    height: 620px;
  }
  @include desktop {
    max-width: 1280px;
  }
}

.hp-rest-overlay {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include ratio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-mobile/hp-restaurant-bg-mob_2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_1x.jpg);

    @include ratio {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/homepage-images/homepage-tablet/hp-restaurant-bg-tab_2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_1x.jpg);

    @include ratio {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/homepage-images/homepage-desktop/hp-restaurant-bg-desk_2x.jpg);
    }
  }
}

.hp-rest__wrap-bottom {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: start;
  }
  @include desktop {
    gap: 32px;
  }
}

// SLIDER

.hp-rest-slider .slick-track {
  display: flex;
  gap: 25px;
  overflow: hidden;
  @include tablet {
    gap: 34px;
  }
  @include desktop {
    gap: 86px;
  }
}

.hp-rest-slider__img {
  border-radius: 2px;
}
.hp-rest-slider .slick-list {
  overflow: hidden;
  @include tablet {
    width: 660px;
  }
  @include desktop {
    width: 876px;
  }
}

// Стилізація кнопок стрілочок які перемикають слайди
// Витягаємо з боків і ліпимо вниз
.hp-rest-slider {
  position: relative;
  padding-left: 25px;
  @include tablet {
    margin-bottom: 0;
    width: 645px;
    padding-left: 0;
  }
}

// КНОПКИ- СТРІЛОЧКИ ДО СЛАЙДЕРА абсолютно позиціонуєм відносно слайдера що вгорі
// Загальні стилі для стрілок
.hp-rest-slider .slick-arrow {
  position: absolute;
  top: 100%;
  font-size: 0;
  width: 30px;
  height: 17px;
  z-index: 1;
  transform: translateY(24px);
  @include tablet {
    transform: translateY(32px);
  }
}

// СТИЛІ ДЛЯ СТРІЛКИ ЛІВОРУЧ
.hp-rest-slider .slick-arrow.slick-prev {
  left: 25px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 7.48971H3.84047L9.85902 1.42865L8.44038 0L0 8.5L8.44038 17L9.85902 15.5713L3.84035 9.51017H30V7.48971Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  @include tablet {
    left: 0;
  }
  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='22' fill='none'%3E%3Cpath fill='%23F3C653' d='M37.854 9.75H5.257l7.5-7.5L10.989.483.472 11l10.517 10.517 1.768-1.767-7.5-7.5h32.597v-2.5Z'/%3E%3C/svg%3E");
  }
}
.hp-rest-slider .slick-arrow.slick-prev::before {
  opacity: 0;
}

// СТИЛІ ДЛЯ СТРІЛКИ ПРАВОРУЧ
.hp-rest-slider .slick-arrow.slick-next {
  left: 90;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5595 0L20.1409 1.42865L26.1595 7.48984H0V9.51036H26.1594L20.1409 15.5713L21.5595 17L30 8.5L21.5595 0Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  @include tablet {
    left: 64px;
  }
  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='22' fill='none'%3E%3Cpath fill='%23F3C653' d='M27.115.483 25.347 2.25l7.5 7.5H.25v2.5h32.597l-7.5 7.5 1.768 1.767L37.633 11 27.115.483Z'/%3E%3C/svg%3E");
  }
}
.hp-rest-slider .slick-arrow.slick-next::before {
  opacity: 0;
}

// лінії для блоку з бекграунд імедж

.line-container-for-bg-img > li {
  position: absolute;
  // z-index: -1;
  pointer-events: none;
  top: 0px;
  width: 0;
  height: 735px;
  border: 1px solid rgba(122, 122, 122, 0.4);
  filter: blur(0.5px);
  @include tablet {
    height: 620px;
  }
}

.line-1 {
  @media screen and (max-width: 1023px) {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 278px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 338px;
  }
}

.line-2 {
  margin-left: 140px;

  @media screen and (min-width: 1024px) {
    margin-left: 512px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 640px;
  }
}

.line-3 {
  margin-left: 274px;

  @media screen and (min-width: 1024px) {
    margin-left: 746px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 942px;
  }
}
