<section class="double-lux">
  <div class="double-lux-container">
    <div class="double-lux-box">
      <h1 class="double-lux-tittle">ДВОМІСНИЙ НОМЕР</h1>
      <p class="double-lux-text" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="double-lux-contact">
      <div class="double-lux-adress">
        <a
          class="double-lux-adress-link link"
          href="https://goo.gl/maps/FNzxDuvAzKQVMhxJ9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="double-lux-adress-icon" width="24" height="24">
            <use href="/src/svg/icons.svg#icon-adress"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15
        </a>
      </div>
      <ul class="double-lux-list list">
        <li class="double-lux-item">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="double-lux-link link"
          >
            <svg class="double-lux-icon" width="24" height="24">
              <use href="/src/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="double-lux-item">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="double-lux-link link"
          >
            <svg class="double-lux-icon" width="24" height="24">
              <use href="/src/svg/icons.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li class="double-lux-item">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="double-lux-link link"
          >
            <svg class="double-lux-icon" width="24" height="24">
              <use href="/src/svg/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button type="button" class="double-lux-button" data-price-modal-open>
        Переглянути ціни
      </button>
    </div>
    <div class="double-room-hero">
      <div class="slick-box">
        <div class="fade">
          <div>
            <picture>
              <source
                srcset="
                  ./images/double-room/desktop/dr-slide1-room-desk-1x.jpg 1x,
                  ./images/double-room/desktop/dr-slide1-room-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />
              <source
                srcset="
                  ./images/double-room/tablet/dr-slide1-room-tab-1x.jpg 1x,
                  ./images/double-room/tablet/dr-slide1-room-tab-1x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1280px)"
                sizes="1280"
              />
              <img
                class="double-room-pic"
                srcset="
                  ./images/double-room/mobile/dr-slide1-room-mob-2x.jpg 2x
                "
                src="./images/double-room/mobile/dr-slide1-room-mob-1x.jpg"
                alt="Двухмісний номер люкс"
                width="414"
              />
            </picture>
          </div>
          <div>
            <picture>
              <source
                srcset="
                  ./images/double-room/desktop/dr-slide2-room-desk-1x.jpg 1x,
                  ./images/double-room/desktop/dr-slide2-room-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />
              <source
                srcset="
                  ./images/double-room/tablet/dr-slide2-room-tab-1x.jpg 1x,
                  ./images/double-room/tablet/dr-slide2-room-tab-1x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1280px)"
                sizes="1280"
              />
              <img
                class="double-room-pic"
                srcset="
                  ./images/double-room/mobile/dr-slide2-room-mob-2x.jpg 2x
                "
                src="./images/double-room/mobile/dr-slide2-room-mob-1x.jpg"
                alt="Двухмісний номер люкс"
                width="414"
              />
            </picture>
          </div>
          <div class="double-room-pic">
            <picture class="double-room-pic">
              <source
                class="double-room-pic"
                srcset="
                  ./images/double-room/desktop/dr-slide3-room-desk-1x.jpg 1x,
                  ./images/double-room/desktop/dr-slide3-room-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />
              <source
                srcset="
                  ./images/double-room/tablet/dr-slide3-room-tab-1x.jpg 1x,
                  ./images/double-room/tablet/dr-slide3-room-tab-1x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1280px)"
                sizes="1280"
              />
              <img
                class="double-room-pic"
                srcset="
                  ./images/double-room/mobile/dr-slide3-room-mob-2x.jpg 2x
                "
                src="./images/double-room/mobile/dr-slide3-room-mob-1x.jpg"
                alt="Двухмісний номер люкс"
                width="414"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
  <include src="./partials/modal/price-modal.html"></include>
</section>
