<div class="double-room-hero">
  <div class="slick-box">
    <div class="fade">
      <div class="fade__pict">
        <picture>
          <source
            srcset="
              ./images/double-room-lux/desktop/drl-slide1-room-desk-1x.jpg 1x,
              ./images/double-room-lux/desktop/drl-slide1-room-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="1280"
          />
          <source
            srcset="
              ./images/double-room-lux/tablet/drl-slide1-room-tab-1x.jpg 1x,
              ./images/double-room-lux/tablet/drl-slide1-room-tab-2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />
          <img
            class="swiper__img"
            srcset="
              ./images/double-room-lux/mobile/drl-slide1-room-mob-2x.jpg 2x
            "
            src="./images/double-room-lux/mobile/drl-slide1-room-mob-1x.jpg"
            alt="Двухмісний номер люкс"
            width="414"
          />
        </picture>
      </div>
      <div class="fade__pict">
        <picture>
          <source
            srcset="
              ./images/double-room-lux/desktop/drl-slide2-room-desk-1x.jpg 1x,
              ./images/double-room-lux/desktop/drl-slide2-room-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="1280"
          />
          <source
            srcset="
              ./images/double-room-lux/tablet/drl-slide2-room-tab-1x.jpg 1x,
              ./images/double-room-lux/tablet/drl-slide2-room-tab-2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />
          <img
            class="swiper__img"
            srcset="
              ./images/double-room-lux/mobile/drl-slide2-room-mob-2x.jpg 2x
            "
            src="./images/double-room-lux/mobile/drl-slide2-room-mob-1x.jpg"
            alt="Двухмісний номер люкс"
            width="414"
          />
        </picture>
      </div>
      <div class="fade__pict">
        <picture>
          <source
            srcset="
              ./images/hotel-images/hotel-hero/hotel-hero_desk1x.jpg 1x,
              ./images/hotel-images/hotel-hero/hotel-hero_desk1x.jpg 2x
            "
            media="(min-width:1280px)"
            width="1280"
          />
          <source
            srcset="
              ./images/hotel-images/hotel-hero/hotel-hero_tub1x.jpg 1x,
              ./images/hotel-images/hotel-hero/hotel-hero_tub2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />
          <img
            class="swiper__img"
            srcset="./images/hotel-images/hotel-hero/hotel-hero_mob2x.jpg 2x"
            src="./images/hotel-images/hotel-hero/hotel-hero_mob1x.jpg"
            alt="Двухмісний номер люкс"
            width="414"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
