body {
  margin: 0 auto;
}

.line1 {
  display: none;
  @include desktop {
    display: block;
    @media screen and (min-width: 1280px) {
      margin-left: 253px;
    }
  }
}

.line2 {
  display: none;
  @include desktop {
    display: block;
    @media screen and (min-width: 1280px) {
      margin-left: 555px;
    }
  }
}

.line3 {
  display: none;
  @include desktop {
    display: block;
    @media screen and (min-width: 1280px) {
      margin-left: 857px;
    }
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
}

.lux-amenities {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  @include tablet {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  @include desktop {
    padding-bottom: 48px;
  }
}

.lux-amenities-tittle {
  margin-bottom: 16px;
  font-family: $times-font;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $black;
}

.lux-amenities-text {
  font-family: $montserrat-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $menu-text-color;
  @include tablet {
    width: 757px;
    height: 45px;
  }
}

.lux-amenities-list-item,
.lux-amenities-list {
  display: flex;
  flex-direction: column;
}

.lux-amenities-list {
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 136px;
  }
}

.lux-amenities-list-item {
  gap: 16px;
}

.lux-amenities-list-tittle {
  font-family: $times-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $black;
}

.lux-amenities-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include tablet {
    flex-direction: row;
    gap: 80px;
  }
  @include desktop {
    gap: 159px;
  }
}

.lux-amenities-list-text {
  width: 400px;
  font-family: $montserrat-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $menu-text-color;
}

.room-lux-amenities-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 434px;
  margin-left: auto;
  // margin-right: 113px;
  @include tablet {
    justify-content: flex-end;
    width: 434px;
  }
  @include desktop {
    justify-content: flex-start;
    margin-left: 563px;
  }
}

.lux-amenities-button {
  width: 384px;
  height: 64px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  background-color: $black;
  color: $white;
  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $black;
  }
  @include tablet {
    width: 434px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.lux-amenities-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    margin-top: 32px;
    justify-content: flex-end;
  }
}

.lux-amenities-link {
  display: flex;
  gap: 12px;
  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $brown-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @include tablet {
    gap: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.lux-amenities-icon {
  fill: currentColor;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
