body {
  margin: 0 auto;
}

.double-lux {
  display: block;
  position: relative;
  margin: 0 auto;
}

.container {
  box-sizing: border-box;
}

.overlay {
  min-height: 740px;
  background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_mob1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include ratio {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_mob2x.jpg);
  }

  @include tablet {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_tub1x.jpg);
  }

  @include ratio {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_tub2x.jpg);
  }

  @include desktop {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_desk1x.jpg);
  }

  @include ratio {
    background-image: url(/src/images/hotel-images/hotel-hero/hotel-hero_desk2x.jpg);
  }
}

.lux-slider-wrap-left,
.lux-slider-wrap-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 350px;
  background-color: rgba(0, 0, 0, 0.65);
  @include tablet {
    bottom: 340px;
  }
}

.lux-slider-wrap-left {
  left: 15px;
  @include tablet {
    left: 47px;
  }
  @include desktop {
    left: 85px;
  }
}

.lux-slider-wrap-right {
  right: 15px;
  @include tablet {
    right: 47px;
  }
  @include desktop {
    right: 85px;
  }
}

.double-lux-slider-icon {
  fill: #ffffff;
  &:hover,
  &:focus {
    fill: #f3c653;
  }
}

.double-lux-tittle {
  position: absolute;
  bottom: 200px;
  width: 300px;
  height: 64px;
  font-style: normal;
  font-family: $times-font;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: $white;
  @include mobile {
    width: 325px;
  }
  @include tablet {
    bottom: 211px;
    width: 510px;
    height: 41px;
    font-size: 36px;
    line-height: 1.14;
  }
  @include desktop {
    bottom: 155px;
  }
}

.double-lux-text {
  position: absolute;
  bottom: 138px;
  width: 300px;
  height: 51px;
  font-family: $montserrat-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $white;
  @include mobile {
    bottom: 128px;
    width: 325px;
    height: 61px;
  }
  @include tablet {
    bottom: 104px;
    width: 400px;
    height: 83px;
    font-size: 16px;
  }
  @include desktop {
    bottom: 48px;
  }
}

.double-lux-list {
  position: absolute;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include tablet {
    flex-direction: row;
    right: 540px;
    bottom: 38px;
    gap: 20px;
  }
  @include desktop {
    display: none;
  }
}

.double-lux-icon {
  fill: rgba(243, 198, 83, 0.7);
}

.double-lux-adress {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    bottom: 24px;
    width: 285px;
    height: 56px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
  @include desktop {
    display: none;
  }
}

.double-lux-adress-link {
  position: absolute;
  left: 44px;
  top: 8px;
  bottom: 8px;
  font-family: $montserrat-font;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.double-lux-adress-icon {
  position: absolute;
  left: 10px;
  top: 16px;
  bottom: 16px;
  fill: $accent-color;
}

.double-lux-button {
  position: absolute;
  bottom: 40px;
  right: 23px;
  padding: 14px 35px;
  min-width: 232px;
  height: 48px;
  border: 2px solid $white;
  border-radius: 25px;
  font-family: $montserrat-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  text-align: center;
  color: $accent-color;
  background: rgba(0, 0, 0, 0.4);
  &:hover,
  &:focus {
    background: $white;
  }
  @include mobile {
    right: 73px;
  }
  @include tablet {
    bottom: 64px;
    right: 47px;
  }
  @include desktop {
    bottom: 66px;
    right: 85px;
  }
}
