
//  NEW FOOTER !!!!!
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0e0c07;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 59px;
  padding-right: 30px;
  @include tablet {
    padding-left: 154px;
    padding-right: 122px;
    position: relative;
  }
  @include desktop {
    padding-left: 216px;
    padding-right: 186px;
  }
}
.footer__logo {
  display: block;
  font-family: $film-font;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43px / 40px);
  text-decoration: none;
  letter-spacing: 0.3em;
  color: $brown-text-color;
  padding-right: 0;
  @include tablet {
  }
  transition: color $main-transition-duration linear;
  transition-timing-function: $main-transtition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer_box-soc-navigation {
  @include tablet {
    display: flex;
    align-items: baseline;
  }
}
.footer__navigation-list {
  margin-bottom: 32px;
  @include tablet {
    &::after {
      content: '';
      position: absolute;
      top: 0px;
      width: 0;
      left: 511px;
      height: 306px;
      border: 1px solid rgba(186, 186, 186, 0.4);
      filter: blur(0.5px);
      transform: translateY(-80px);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      width: 0;
      right: 274px;
      height: 306px;
      border: 1px solid rgba(186, 186, 186, 0.4);
      filter: blur(0.5px);
      transform: translateY(-80px);
    }
  }
  @include desktop {
    &::before {
      right: 338px;
    }
    &::after {
      left: 640px;
    }
  }
}
.footer__navigation-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.footer__navigation-link {
  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24px / 20px);
  letter-spacing: 0.02em;
  color: $brown-text-color;
  transition: background-color $main-transition-duration linear,
    color $main-transition-duration linear;
  transition-timing-function: $main-transtition-timing-function;
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  transition: color $main-transition-duration linear;
  transition-timing-function: $main-transtition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__soc-list {
  display: flex;
  gap: 20px;
  @include tablet {
    display: block;
    margin-left: 137px;
  }
  @include desktop {
    margin-left: 199px;
  }
}
.footer__soc-item {
  @include tablet {
    border: 0.5px solid $brown-text-color;
    border-radius: 2px;
    padding: 8px 12px;
    width: 144px;
    box-sizing: border-box;
    transition: border $main-transition-duration linear,
      color $main-transition-duration linear,
      fill $main-transition-duration linear,
      color $main-transition-duration linear;
    transition-timing-function: $main-transtition-timing-function;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &:hover {
      border: 0.5px solid $accent-color;
    }
  }
}

.footer__soc-link {
  color: $brown-text-color;
  display: flex;
  @include tablet {
    justify-content: space-between;
    align-items: center;
  }
}

.footer__soc-item .footer__soc-link:hover,
.footer__soc-item .footer__soc-link:focus {
  color: $accent-color;
}

.footer__soc-name {
  display: none;
  @include tablet {
    display: block;
    font-family: $montserrat-font;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20px / 16px);
    letter-spacing: 0.02em;
    color: $brown-text-color;
    text-align: center;

    transition: color $main-transition-duration linear;
    transition-timing-function: $main-transtition-timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.footer__icon {
  fill: $brown-text-color;
  @include tablet {
    fill: $brown-text-color;
  }
}
.footer__icon:hover,
.footer__icon:focus {
  fill: $accent-color;
}
