<div class="backdrop-modal-price is-hidden" data-price-modal>   
    <div class="modal-price">
        <button type="button" class="modal-prise-close" data-price-modal-close>
            <svg class="modal-prise-close-icon" width="24" height="24">
                <use href="./svg/icons.svg#icon-mobil-close"></use>
            </svg>
        </button>
        <p class="modal-price-title">ЦІНИ НА НОМЕР</p>
        <p class="modal-price-item">Двомісний люкс</p>
        <p class="modal-price-type">Категорія номеру</p>
        <form class="modal-price-form">
            <div class="modal-price-wrap-tablet">
                <div class="modal-price-wrap">
                    <div clas="icon-select-wrap">
                      <label class="modal-price-label check-arrow" for="rooms-calc">
                        <select id="rooms-calc" name="rooms-cal"  class="modal-price-room-select">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <span class="label-span">Кількість ночей</span> 
                      </label>
                    </div>
                    
                    
                    
                </div>
                <div class="modal-price-wrap">
                    <input type="number" name="rooms-price" class="modal-price-input" required id="rooms-price" placeholder="1000" title="грн" min="1000" step="500">
                    <label class="modal-price-label contacts-ml" for="rooms-price">грн</label>
                    
                </div>
            </div>
            <button type="submit" class="modal-price-btn">ЗАБРОНЮВАТИ НОМЕР</button>
        </form>
    </div>
