<div class="backdrope-modal-price">   
    <div class="modal-price">
        <button type="button" class="modal-prise-close">
            <svg class="modal-prise-close-icon" width="24" height="24">
                <use href="./svg/icons.svg#icon-mobil-close"></use>
            </svg>
        </button>
        <p class="modal-price-title">ЦІНИ НА НОМЕР</p>
        <p class="modal-price-item">Двомісний люкс</p>
        <p class="modal-price-type">Категорія номеру</p>
        <form class="modal-price-form">
            <div class="modal-price-wrap-tablet">
                <div class="modal-price-wrap">
                    <!-- <input type="number" name="rooms-calc" class="modal-price-input" required id="rooms-calc" placeholder="1" title="Кількість ночей" min="1"> -->
                    <div clas="icon-select-wrap">
                        <select id="rooms-calc" name="rooms-cal"  class="modal-room-select">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    
                    <label class="modal-price-label" for="rooms-calc">Кількість ночей</label>
                    
                </div>
                <div class="modal-price-wrap">
                    <input type="number" name="rooms-price" class="modal-price-input" required id="rooms-price" placeholder="1000" title="грн" min="1000" step="500">
                    <label class="modal-price-label" for="rooms-price">грн</label>
                    
                </div>
            </div>
            <button type="submit" class="modal-price-btn">ЗАБРОНЮВАТИ НОМЕР</button>
        </form>
    </div>
</div> 
