<div class="backdrope-modal-price">   
    <div class="modal-room">
        <button type="button" class="modal-prise-close">
            <svg class="modal-prise-close-icon" width="24" height="24">
                <use href="./svg/icons.svg#icon-mobil-close"></use>
            </svg>
        </button>
        <p class="modal-room-title">ЗАБРОНЮВАТИ НОМЕР</p>
        
        <form class="modal-room-form">
            <div class="modal-room-wrap-tablet">              
                <div class="modal-room-contacts">
                    <input type="text" 
                    name="rooms-contacts" 
                    class="modal-room-input" 
                    required 
                    id="name" 
                    placeholder="Ваше ім’я" 
                    title="Ваше ім’я">
                    <label class="modal-room-label" for="name">На кого забронювати номер?</label>
                </div>
                <div class="modal-room-contacts">
                    <input type="tel" 
                    name="rooms-contacts" 
                    class="modal-room-input" 
                    required 
                    pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
                    id="tel" 
                    placeholder="+38 (___) ___-__-__" 
                    title="+38 (___) ___-__-__">
                    <label class="modal-room-label" for="tel">Номер телефону</label>
                    
                </div>
            </div>
            <div class="direction-right">
                <div class="room-select">
                    <div clas="modal-room-wrap">
                        <select id="rooms-category" name="rooms-cal"  class="modal-room-select" autofocus>
                            <option value="1">Двомісний номер</option>
                            <option value="2"selected>Двомісний люкс</option>
                            <option value="3">Трьохмісний люкс</option>
                        </select>
                        <label class="modal-room-label" for="rooms-category">Категорія номеру</label>
                    </div> 
                </div>
            </div>
            <div class="modal-room-wrap-tablet">
                <div class="check-in-select">
                    <div clas="check-in-wrap">
                        <select id="check-in" name="rooms-cal"  class="modal-room-select" autofocus>
                            <option value="1"selected>Сьогодні</option>
                            <option value="2">Завтра</option>
                        </select>
                        <label class="modal-room-label" for="check-in">Дата заїзду</label>
                    </div>
                </div>
                <div class="check-out-select">
                    <div clas="check-out-wrap">
                        <select id="check-out" name="rooms-cal"  class="modal-room-select" autofocus>
                            <option value="1"selected>Сьогодні</option>
                            <option value="2">Завтра</option>
                        </select>
                        <label class="modal-room-label" for="check-in">Дата виїзду</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="modal-price-btn">ЗАБРОНЮВАТИ НОМЕР</button>
        </form>
    </div>
</div>
