<div class="modal-room__background is-hidden" data-room-modal>
  <div class="modal-room__box-form">
    <button type="button" class="modal-room__close" data-room-modal-close>
      <svg class="modal-room__close-icon" width="24" height="24">
        <use href="./svg/icons.svg#icon-mobil-close"></use>
      </svg>
    </button>
    <p class="modal-room__title">ЗАБРОНЮВАТИ НОМЕР</p>
    <form class="modal-room__form">
      <div class="modal-room__wrap-box">
        <div class="modal-table__contacts-box">
          <input
            type="text"
            name="rooms-contacts"
            class="modal-room__input-contacts"
            required
            id="name"
            placeholder="Ваше ім’я"
            title="Ваше ім’я"
          />
          <label class="modal-room__label modal-room__label-span" for="name"
            >На кого забронювати номер?</label
          >
        </div>
        <div class="modal-table__contacts-box">
          <input
            type="tel"
            name="room-contacts"
            class="modal-room__input-contacts"
            required
            id="tel"
            placeholder="+38 (___) ___-__-__"
            title="+38 (___) ___-__-__"
          />
          <label class="modal-room__label modal-room__label-span" for="tel"
            >Номер телефону</label
          >
        </div>
      </div>
      <div class="modal-room__wrap">
        <label
          class="modal-room__label modal-room__check-arrow"
          for="rooms-category"
          ><select
            id="rooms-category"
            name="rooms-cal"
            class="modal-room__select modal-room__check-arrow"
            autofocus
          >
            <option value="1">Двомісний номер</option>
            <option value="2" selected>Двомісний люкс</option>
            <option value="3">Трьохмісний люкс</option></select
          ><span class="modal-room__label-span">Категорія номеру</span>
        </label>
      </div>
      <div class="modal-room__wrap-box">
        <label class="modal-room__label modal-room__check-arrow">
          <select
            id="check-out"
            name="rooms-cal"
            class="modal-room__select"
            autofocus
          >
            <option value="1" selected>Сьогодні</option>
            <option value="2">Завтра</option>
          </select>
          <span class="modal-room__label-span">Дата заїзду</span></label
        >
        <label class="modal-room__label modal-room__check-arrow">
          <select
            id="check-out"
            name="rooms-cal"
            class="modal-room__select"
            autofocus
          >
            <option value="1" selected>Сьогодні</option>
            <option value="2">Завтра</option>
          </select>
          <span class="modal-room__label-span" for="check-in">Дата виїзду</span>
        </label>
      </div>

      <button type="submit" class="modal-room__btn">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
