<section class="triple wow  animate__animated animate__slideInUp">
  <ul class="container">
    <li class="line1"></li>
    <li class="line2"></li>
    <li class="line3"></li>
  </ul>
  <div class="container">
    <div class="triple_upper-content triple_revert">
      <div class="triple_content">
        <div class="mimino-container">
          <p class="hotel-hero_upper-text">Amet minim mollit non</p>
          <h3 class="hotel-hero_pretitle">mimiho</h3>
        </div>
        <div class="triple-text-container">
          <h2 class="hotel-hero_title">трьомісний номер</h2>
          <p class="hotel-hero_text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <picture>
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="hotel-img-left"
          src="./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg"
          alt=""
          width="460"
          height="574"
        />
      </picture>
    </div>

    <div class="triple_lower-content triple_revert">
      <div class="triple_slider">
        <div>
          <picture>
            <source
              srcset="
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg 1x,
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg 1x,
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg 1x,
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg"
              alt="просторна вітальня"
              width="254"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg 1x,
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg 1x,
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg 1x,
                ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg"
              alt="ванна кімната"
              width="254"
            />
          </picture>
        </div>
      </div>


      <!-- <div class="hotel-hero_btn-container triple_btn-container">
        <a href="./triple-room.html" class="triple_room-btn">Детальніше</a>
        <button type="submit" class="triple_price-btn">Переглянути ціни</button> -->
        <div class="hotel-hero_btn-container triple_btn-container">
          <a href="./triple-room.html" class="triple_room-btn">Детальніше</a>
          <button type="submit" class="triple_price-btn">Переглянути ціни</button>

      <div class="hotel-hero_btn-container triple_btn-container">

        <a href="./double-room-lux.html" class="triple_room-btn">Детальніше</a>
        <button type="submit" class="triple_price-btn" data-price-modal-open>
          Переглянути ціни
        </button>

        <a href="./triple-room.html" class="triple_room-btn">Детальніше</a>
        <button type="submit" class="triple_price-btn">Переглянути ціни</button>


      </div>
    </div>
  </div>
  <include src="./partials/modal/price-modal.html"></include>
</section>
