<section class="double-lux">
  <ul class="container">
    <li class="line1"></li>
    <li class="line2"></li>
    <li class="line3"></li>
  </ul>
  <div class="container">
    <div class="double-lux_upper-content">
      <div class="hotel-hero_content">
        <p class="hotel-hero_upper-text">Amet minim mollit non</p>
        <h3 class="hotel-hero_pretitle">mimiho</h3>
        <h2 class="hotel-hero_title">двомісний номер <span>люкс</span></h2>
        <p class="hotel-hero_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_tab1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_tab2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_mob1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_mob2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="hotel-img"
          src="./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk1x.jpg"
          alt="сучана студія"
          width="460"
          height="574"
        />
      </picture>
    </div>

    <div class="hotel_lower-content">
      <div class="hotel-hero_slider">
        <div>
          <picture>
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room-lux/bathroom-desk_1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room-lux/bathroom-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="/src/images/hotel-images/modern-studio/modern-double-room-lux/bathroom-desk_1x.jpg"
              alt="ванна кімната"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room-lux/cap-tea_desk1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room-lux/cap-tea_desk2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="/src/images/hotel-images/modern-studio/modern-double-room-lux/cap-tea_desk1x.jpg"
              alt="філіжанка з чаєм"
              width="254px"
            />
          </picture>
        </div>
      </div>

      <div class="hotel-hero_btn-container">
        <a href="./double-room-lux.html" class="hotel-hero_room-btn"
          >Детальніше</a
        >
        <button type="submit" class="hotel-hero_price-btn">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>

<section class="triple">
  <div class="container">
    <div class="triple_upper-content triple_revert">
      <div class="triple_content">
        <div class="mimino-container">
          <p class="hotel-hero_upper-text">Amet minim mollit non</p>
          <h3 class="hotel-hero_pretitle">mimiho</h3>
        </div>
        <div class="triple-text-container">
          <h2 class="hotel-hero_title">трьомісний номер</h2>
          <p class="hotel-hero_text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <picture>
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="hotel-img-left"
          src="./images/hotel-images/modern-studio/modern-triple-room/tr-hotel-room-desk-1x.jpg"
          alt=""
          width="460"
          height="574"
        />
      </picture>
    </div>

    <div class="triple_lower-content triple_revert">
      <div class="triple_slider">
        <div>
          <picture>
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="/src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide1-desk-1x.jpg"
              alt="просторна вітальня"
              width="254px"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="/src/images/hotel-images/modern-studio/modern-triple-room/tr-hotel-slide2-desk-1x.jpg"
              alt="ванна кімната"
              width="254px"
            />
          </picture>
        </div>
      </div>

      <div class="hotel-hero_btn-container triple_btn-container">
        <a href="./double-room-lux.html" class="triple_room-btn">Детальніше</a>
        <button type="submit" class="triple_price-btn">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>

<section class="double">
  <div class="container">
    <div class="double_upper-content">
      <div class="hotel-hero_content">
        <p class="hotel-hero_upper-text">Amet minim mollit non</p>
        <h3 class="hotel-hero_pretitle">mimiho</h3>
        <h2 class="hotel-hero_title">двомісний номер</h2>
        <p class="hotel-hero_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="hotel-img"
          src="./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg"
          alt=""
          width="460"
          height="574"
        />
      </picture>
    </div>

    <div class="hotel_lower-content">
      <div class="hotel-hero_slider">
        <div>
          <picture>
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="/src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg"
              alt="ванна кімната"
              width="254px"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg 1x,
                /src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="slider-img-hotel"
              src="/src/images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg"
              alt="вітальня"
              width="254px"
            />
          </picture>
        </div>
      </div>

      <div class="hotel-hero_btn-container">
        <a href="./double-room-lux.html" class="hotel-hero_room-btn"
          >Детальніше</a
        >
        <button type="submit" class="hotel-hero_price-btn">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
