<section class="double-lux">
  <div class="double-lux-container">
    <div class="double-lux-box">
      <h1 class="double-lux-tittle">ТРИМІСНИЙ НОМЕР</h1>
      <p class="double-lux-text" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="double-lux-contact">
      <div class="double-lux-adress">
        <a
          class="double-lux-adress-link link"
          href="https://goo.gl/maps/FNzxDuvAzKQVMhxJ9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="double-lux-adress-icon" width="24" height="24">
            <use href="/src/svg/icons.svg#icon-adress"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15
        </a>
      </div>
      <ul class="double-lux-list list">
        <li class="double-lux-item">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="double-lux-link link"
          >
            <svg class="double-lux-icon" width="24" height="24">
              <use href="/src/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="double-lux-item">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="double-lux-link link"
          >
            <svg class="double-lux-icon" width="24" height="24">
              <use href="/src/svg/icons.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li class="double-lux-item">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="double-lux-link link"
          >
            <svg class="double-lux-icon" width="24" height="24">
              <use href="/src/svg/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button type="button" class="double-lux-button" data-price-modal-open>
        Переглянути ціни
      </button>
    </div>
    <div class="double-room-hero">
      <div class="slick-box">
        <div class="fade">
          <div>
            <!-- <picture>
              <source
                srcset="
                  ./images/hotel-images/triple-room/desktop/tr-slide1-room-desk-1x.jpg 1x,
                  ./images/hotel-images/triple-room/desktop/tr-slide1-room-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />

              <source
                srcset="
                  ./images/hotel-images/triple-room/tablet/tr-slide1-room-tab-1x.jpg 1x,
                  ./images/hotel-images/triple-room/tablet/tr-slide1-room-tub-2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1280px)"
                sizes="1280"
              />

              <img
                srcset="
                  ./images/hotel-images/triple-room/mobile/tr-slide1-room-mob-2x.jpg 2x
                "
                src="./images/hotel-images/triple-room/mobile/tr-slide1-room-mob-1x.jpg"
                alt="Тримісний номер"
                width="414"
              />
            </picture> -->

            <img
              class="double-room-pic"
              src="src/images/hotel-images/triple-room/desktop/tr-slide1-room-desk-1x.jpg"
              alt="Тримісний номер"
            />
          </div>

          <div>
            <!-- <picture>
              <source
                srcset="
                  ./images/hotel-images/triple-room/desktop/tr-slide2-room-desk-1x.jpg 1x,
                  ./images/hotel-images/triple-room/desktop/tr-slide2-room-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />

              <source
                srcset="
                  ./images/hotel-images/triple-room/tablet/tr-slide2-room-tab-1x.jpg 1x,
                  ./images/hotel-images/triple-room/tablet/tr-slide2-room-tub-2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1280px)"
                sizes="1280"
              />

              <img
                srcset="
                  ./images/hotel-images/triple-room/mobile/tr-slide2-room-mob-2x.jpg 2x
                "
                src="./images/hotel-images/triple-room/mobile/tr-slide2-room-mob-1x.jpg"
                alt="Тримісний номер"
                width="414"
              />
            </picture> -->

            <img
              class="double-room-pic"
              src="/src/images/triple-room/desktop/tr-slide2-room-desk-1x.jpg"
              alt="Тримісний номер"
            />
          </div>

          <div>
            <!-- <picture>
              <source
                srcset="
                  ./images/hotel-images/triple-room/desktop/tr-slide3-room-desk-1x.jpg 1x,
                  ./images/hotel-images/triple-room/desktop/tr-slide3-room-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />

              <source
                srcset="
                  ./images/hotel-images/triple-room/desktop/tr-slide3-room-tab-1x.jpg 1x,
                  ./images/hotel-images/triple-room/desktop/tr-slide3-room-tab-2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1280px)"
                sizes="1280"
              />

              <img
                srcset="
                  ./images/hotel-images/triple-room/mobile/tr-slide3-room-mob-2x.jpg 2x
                "
                src="./images/hotel-images/triple-room/mobile/tr-slide3-room-mob-1x.jpg"
                alt="Тримісний номер"
                width="414"
              />
            </picture> -->

            <img
              class="double-room-pic"
              src="/src/images/hotel-images/triple-room/mobile/tr-slide1-room-mob-1x.jpg"
              alt="Тримісний номер"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="backdrop-modal-price is-hidden" data-price-modal>
  <div class="modal-price">
    <button type="button" class="modal-prise-close" data-price-modal-close>
      <svg class="modal-prise-close-icon" width="24" height="24">
        <use href="./svg/icons.svg#icon-mobil-close"></use>
      </svg>
    </button>
    <p class="modal-price-title">ЦІНИ НА НОМЕР</p>
    <p class="modal-price-item">Двомісний люкс</p>
    <p class="modal-price-type">Категорія номеру</p>
    <form class="modal-price-form">
      <div class="modal-price-wrap-tablet">
        <div class="modal-price-wrap">
          <div clas="icon-select-wrap">
            <label class="modal-price-label check-arrow" for="rooms-calc">
              <select
                id="rooms-calc"
                name="rooms-cal"
                class="modal-room-select"
              >
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <span class="label-span">Кількість ночей</span>
            </label>
          </div>
        </div>
        <div class="modal-price-wrap">
          <input
            type="number"
            name="rooms-price"
            class="modal-price-input"
            required
            id="rooms-price"
            placeholder="1000"
            title="грн"
            min="1000"
            step="500"
          />
          <label class="modal-price-label contacts-ml" for="rooms-price"
            >грн</label
          >
        </div>
      </div>
      <button type="submit" class="modal-price-btn">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
