<section class="double-lux-hotel wow animate__animated animate__slideInUp">
  <ul class="container">
    <li class="line1"></li>
    <li class="line2"></li>
    <li class="line3"></li>
  </ul>
  <div class="container">
    <div class="double-lux_upper-content">
      <div class="hotel-hero_content">
        <p class="hotel-hero_upper-text">Amet minim mollit non</p>
        <h3 class="hotel-hero_pretitle">mimiho</h3>
        <h2 class="hotel-hero_title">двомісний номер <span>люкс</span></h2>
        <p class="hotel-hero_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_tab1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_tab2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_mob1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_mob2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="hotel-img"
          src="./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk1x.jpg"
          alt="сучана студія"
          width="460"
          height="574"
        />
      </picture>
    </div>

    <div class="hotel_lower-content">
      <div class="hotel-double-room-lux__slider-wrap">
        <div class="hotel-room-slider double-room-lux-slider">
          <div class="hotel-room-lux-slider__item">
            <picture>
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room-lux/bathroom-desk_2x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room-lux/bathroom-desk_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room-lux/bathroom-tab_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/hotel-images/modern-studio/modern-double-room-lux/bathroom-desk_1x.jpg"
                alt="Білий умивальник на дерев'яній основі"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-lux-slider__item">
            <picture>
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room-lux/cap-tea_desk1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room-lux/cap-tea_desk2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room-lux/cup-tea_tab2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/hotel-images/modern-studio/modern-double-room-lux/cap-tea_desk1x.jpg"
                alt="Філіжанка кави на підвіконні"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-lux-slider__item">
            <picture>
              <source
                srcset="
                  ./images/slyder-images/slyder-desktop/1-desk_1x.jpg 1x,
                  ./images/slyder-images/slyder-desktop/1-desk_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-tablet/1-tab_1x.jpg 1x,
                  ./images/slyder-images/slyder-tablet/1-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-mobile/1-mob_1x.jpg 1x,
                  ./images/slyder-images/slyder-mobile/1-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/slyder-images/slyder-mobile/1-mob_1x.jpg"
                alt="Невелика вітальня з синім велюровим диваном та білим комодом"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-lux-slider__item">
            <picture>
              <source
                srcset="
                  ./images/slyder-images/slyder-desktop/5-desk_1x.jpg 1x,
                  ./images/slyder-images/slyder-desktop/5-desk_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-tablet/5-tab_1x.jpg 1x,
                  ./images/slyder-images/slyder-tablet/5-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-mobile/5-mob_1x.jpg 1x,
                  ./images/slyder-images/slyder-mobile/5-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/slyder-images/slyder-mobile/5-mob_1x.jpg"
                alt="Простора вітальня з жовтим кутовим диваном і журнальним столиком"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-lux-slider__item">
            <picture>
              <source
                srcset="
                  ./images/slyder-images/slyder-desktop/13-desk_1x.jpg 1x,
                  ./images/slyder-images/slyder-desktop/13-desk_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-tablet/13-tab_1x.jpg 1x,
                  ./images/slyder-images/slyder-tablet/13-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-mobile/13-mob_1x.jpg 1x,
                  ./images/slyder-images/slyder-mobile/13-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/slyder-images/slyder-mobile/13-mob_1x.jpg"
                alt="Стильний умивальник-чаша з каменю"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-lux-slider__item">
            <picture>
              <source
                srcset="
                  ./images/slyder-images/slyder-desktop/16-desk_1x.jpg 1x,
                  ./images/slyder-images/slyder-desktop/16-desk_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-tablet/16-tab_1x.jpg 1x,
                  ./images/slyder-images/slyder-tablet/16-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-mobile/16-mob_1x.jpg 1x,
                  ./images/slyder-images/slyder-mobile/16-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/slyder-images/slyder-mobile/13-mob_1x.jpg"
                alt="Сніданок з мюслі з чорницею"
                width="254"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="hotel-hero_btn-container">
        <a href="./double-room-lux.html" class="hotel-hero_room-btn"
          >Детальніше</a
        >
        <button
          type="submit"
          class="hotel-hero_price-btn"
          data-price-modal-2-open
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
