<section class="double wow animate__animated animate__slideInUp">
  <ul class="container">
    <li class="line1"></li>
    <li class="line2"></li>
    <li class="line3"></li>
  </ul>
  <div class="container hotel-double-room__container">
    <div class="double_upper-content">
      <div class="hotel-hero_content">
        <p class="hotel-hero_upper-text">Amet minim mollit non</p>
        <h3 class="hotel-hero_pretitle">mimiho</h3>
        <h2 class="hotel-hero_title">двомісний номер</h2>
        <p class="hotel-hero_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="hotel-img"
          src="./images/hotel-images/modern-studio/modern-double-room/dr-hotel-room-desk-1x.jpg"
          alt=""
          width="460"
          height="574"
        />
      </picture>
    </div>

    <div class="hotel_lower-content">
      <div class="hotel-double-room__slider-wrap">
        <div class="hotel-room-slider double-room-slider">
          <div class="hotel-room-slider__item">
            <picture>
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide1-desk-1x.jpg"
                alt="ванна кімната"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-slider__item">
            <picture>
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg 1x,
                  ./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/hotel-images/modern-studio/modern-double-room/dr-hotel-slide2-desk-1x.jpg"
                alt="вітальня"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-slider__item">
            <picture>
              <source
                srcset="
                  ./images/slyder-images/slyder-desktop/10-desk_1x.jpg 1x,
                  ./images/slyder-images/slyder-desktop/10-desk_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-tablet/10-tab_1x.jpg 1x,
                  ./images/slyder-images/slyder-tablet/10-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-mobile/10-mob_1x.jpg 1x,
                  ./images/slyder-images/slyder-mobile/10-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/slyder-images/slyder-mobile/10-mob_1x.jpg"
                alt="просторна вітальня"
                width="254"
              />
            </picture>
          </div>

          <div class="hotel-room-slider__item">
            <picture>
              <source
                srcset="
                  ./images/slyder-images/slyder-desktop/11-desk_1x.jpg 1x,
                  ./images/slyder-images/slyder-desktop/11-desk_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-tablet/11-tab_1x.jpg 1x,
                  ./images/slyder-images/slyder-tablet/11-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/slyder-images/slyder-mobile/11-mob_1x.jpg 1x,
                  ./images/slyder-images/slyder-mobile/11-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="slider-img-hotel"
                src="./images/slyder-images/slyder-mobile/11-mob_1x.jpg"
                alt="просторна вітальня"
                width="254"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="hotel-hero_btn-container">
        <a href="./double-room.html" class="hotel-hero_room-btn">Детальніше</a>
        <button
          type="button"
          class="hotel-hero_price-btn"
          data-price-modal-3-open
        >
          Переглянути ціни
        </button>
      </div>
    </div>
    <include src="./partials/modal/price-modal.html"></include>
</section>
