// Лінії на задньому фоні
.triple {
  overflow: hidden;
  position: relative;
  @include tablet {
    overflow: visible;
    height: 672px;
  }
  @include desktop {
    height: 772px;
  }

  > .container .line1,
  > .container .line2,
  > .container .line3 {
    opacity: 0;
    @include tablet {
      opacity: 1;
    }
  }
}

// ____________СЕКЦІЯ - ТРІПЛ______________

.triple {
  background-color: $background-dark-lemon;
  z-index: -5;

  @include mobile {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @include tablet {
    padding-top: 66px;
    padding-bottom: 104px;
  }
  @include desktop {
    padding-top: 72px;
    padding-bottom: 112px;
  }
}

.triple_content {
  @include mobile {
    justify-content: end;
    display: grid;
  }
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    margin-left: auto;
  }
}

.mimino-container {
  @include mobile {
    text-align: right;
  }
  @include tablet {
    text-align: right;
    margin-right: 17px;
    .hotel-hero_pretitle {
      margin-right: -20px;
    }
  }
  @include desktop {
    text-align: right;
    margin-right: 60px;
  }
}

.triple-text-container {
  @include tablet {
    margin-left: 510px;
  }

  @include desktop {
    margin-left: 595px;
  }
}

.hotel-img-left {
  background-color: $photo-backgroun-color;
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);

  @include mobile {
    width: 244px;
  }

  @include tablet {
    margin-top: -430px;
    margin-left: 65px;
    width: 400px;
  }

  @include desktop {
    margin-top: -465px;
    margin-left: 95px;
    width: 460px;
  }
}

.triple_slider {
  display: flex;
  justify-content: end;
  margin-top: 48px;
}

.triple .triple_room-btn {
  display: inline-block;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(16px, 700, 0.8, 0.02em);
  color: $accent-color;

  border: 2px solid $white;
  border-radius: 25px;
  background: $black;

  padding: 14px 65px;
  margin-bottom: 16px;

  transition: background-color $main-transition-duration linear,
    color $main-transition-duration linear;
  transition-timing-function: $main-transtition-timing-function;

  &:hover,
  &:focus {
    background-color: $white;
    border: 2px solid $white;
  }

  @include tablet {
    display: table;
    margin-right: auto;
  }
}

.triple_price-btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(16px, 700, 0.8, 0.02em);
  color: $accent-color;

  border: 2px solid $white;
  border-radius: 25px;
  background: $black;

  padding: 14px 37px;
  transition: background-color $main-transition-duration linear,
    color $main-transition-duration linear;
  transition-timing-function: $main-transtition-timing-function;

  &:hover,
  &:focus {
    background-color: $white;
    border: 2px solid $white;
  }

  @include tablet {
    display: block;
    margin-right: auto;
  }
}

.triple .triple_lower-content {
  @include tablet {
    justify-content: end;

    margin-bottom: 102px;
    position: relative;
  }
}

// Контейнер з кнопками, центрувавання

.triple .hotel-hero_btn-container {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 72px;

  @include tablet {
    position: absolute;
    margin-top: 85px;
    top: 0;
  }

  @include desktop {
    margin-top: 125px;
  }
}

.triple .triple_room-btn {
  color: $accent-color;
}

// НАЛАШТУВАННЯ СЛАЙДЕРА

// Налаштування блоку з слайдером

.triple .hp-rest-slider {
  display: block;
  margin-left: 115px;
  margin-top: 48px;
  @include tablet {
    margin-left: 502px;
    margin-right: 0px;
    margin-top: 48px;
  }
  @include desktop {
    margin-left: 562px;
    margin-right: 0px;
    margin-top: 48px;
  }
}

// Налаштування відступів між зображеннями
.triple .hp-rest-slider .slick-track {
  display: flex;
  gap: 16px;
  overflow: hidden;
  @include tablet {
    gap: 40px;
  }
  @include desktop {
    gap: 40px;
  }
}

// Налаштування контейнера
.triple .hp-rest-slider .slick-list {
  width: 259px;
  @include tablet {
    width: 420px;
  }
  @include desktop {
    width: 585px;
  }
}

// Налаштування кнопок слайдера

.triple .hp-rest-slider .slick-arrow.slick-prev {
  left: 172.18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='31' height='18' viewBox='0 0 31 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.0834 7.99993H4.00581L10.0055 2.00025L8.5913 0.58606L0.177368 8.99999L8.5913 17.4139L10.0055 15.9997L4.00568 9.99993H30.0834V7.99993Z' fill='black'/%3E%3C/svg%3E");

  @include tablet {
    left: 0px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='31' height='18' viewBox='0 0 31 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.0834 7.99993H4.00581L10.0055 2.00025L8.5913 0.58606L0.177368 8.99999L8.5913 17.4139L10.0055 15.9997L4.00568 9.99993H30.0834V7.99993Z' fill='%23808080'/%3E%3C/svg%3E");
  }

  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 7.48971H3.84047L9.85902 1.42865L8.44038 0L0 8.5L8.44038 17L9.85902 15.5713L3.84035 9.51017H30V7.48971Z' fill='%23F3C653'/%3E%3C/svg%3E");
  }
}

.triple .hp-rest-slider .slick-arrow.slick-next {
  left: 236px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4921 0.58606L20.0779 2.00025L26.0777 8.00006H0V10.0001H26.0775L20.0779 15.9997L21.4921 17.4139L29.9061 8.99999L21.4921 0.58606Z' fill='black'/%3E%3C/svg%3E");
  @include tablet {
    left: 90px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4921 0.58606L20.0779 2.00025L26.0777 8.00006H0V10.0001H26.0775L20.0779 15.9997L21.4921 17.4139L29.9061 8.99999L21.4921 0.58606Z' fill='%23808080'/%3E%3C/svg%3E");
  }

  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5595 0L20.1409 1.42865L26.1595 7.48984H0V9.51036H26.1594L20.1409 15.5713L21.5595 17L30 8.5L21.5595 0Z' fill='%23F3C653'/%3E%3C/svg%3E");
  }
}
