// Код для додавання у html між початком секціі та контейнером

// Код для додавання у html між початком секціі та контейнером. Додам самостійно

// <ul class="container">
// <li class="line1"></li>
// <li class="line2"></li>
// <li class="line3"></li>
// </ul>

// Додавання ліній на задній фон
.container > li {
  background-color: $background-light-lemon;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 0px;
  width: 0;
  height: 100%;
  border: 1px solid rgba(186, 186, 186, 0.4);
  filter: blur(0.5px);
}

.line1 {
  margin-left: 125px;
  display: block;

  @media screen and (min-width: 1024px) {
    margin-left: 231px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 253px;
  }
}

.line2 {
  margin-left: 259px;
  display: block;

  @media screen and (min-width: 1024px) {
    margin-left: 465px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 555px;
  }
}

// Додавання ліній на задній фон
.container > li {
  position: absolute;
  // z-index: -1;
  pointer-events: none;
  top: 0px;
  width: 0;
  height: 100%;
  border: 1px solid rgba(186, 186, 186, 0.4);
  filter: blur(0.5px);
}

.line3 {
  
  @media screen and (min-width: 1024px) {
    margin-left: 699px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 857px;
  }
}
