<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="index.html" class="header-logo">MIMIHO</a>
      <div class="contact-restoran">
        <a href="restaurant.html" class="contact-list"> Ресторан </a>
        <div class="contact-numb_rest">
          <svg class="contact-list_icon">
            <use href="./svg/icons.svg#icon-tel"></use>
          </svg>
          <a href="tel:0955559533" class="contact-tell"> 095 555 95 33 </a>
        </div>
        <div class="contact-hotel">

          <a href="hotel.html" class="contact-list list-hotel"> Готель </a>

          <div class="contact-number">
            <svg class="contact-list_icon">
              <use href="./svg/icons.svg#icon-tel"></use>
            </svg>
            <a href="tel:0668491089" class="contact-tell"> 066 849 10 89 </a>
            <a href="tel:0672758540" class="contact-tell"> 067 275 85 40 </a>
          </div>
        </div>
        <div class="social-contact">
          <a
            class="social-link"
            href="//www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-svg">
              <use href="./svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
          <a
            class="social-link"
            href="//www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-svg">
              <use href="./svg/icons.svg#icon-fb"></use>
            </svg>
          </a>
          <a
            class="social-link"
            href="//telegram.org/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-svg">
              <use href="./svg/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
