<section class="hp-restaurant hp-rest-overlay">
  <div class="container">
    <h1 class="hp-restaurant__title">Mimiho</h1>
    <h2 class="hp-restaurant__subtitle">Ресторан</h2>
    <p class="hp-restaurant__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <!-- slider for restaurant -->
    <!-- <div class="hp-restaurant-slider__container">
      <ul class="hp-restaurant-slider">
        <li class="hp-restaurant-slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/meat-steak_desk1x.jpg,
                /src/images/homepage-images/homepage-desktop/meat-steak_desk2x.jpg
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/meat-steak_tab1x.jpg,
                /src/images/homepage-images/homepage-tablet/meat-steak_tab2x.jpg
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                /src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg,
                /src/images/homepage-images/homepage-mobile/meat-steak_mob2x.jpg
              "
              media="(max-width: 414px)"
            />
            <img
              class="hp-restaurant-slider__image hp-restaurant-slider__image--big hp-restaurant-slider__image--big-desk"
              src="/src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg"
              alt="М'ясний стейк з розмарином на тарілці"
            />
          </picture>
        </li>
        <li class="hp-restaurant-slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/khachapuri-desk_1x.jpg,
                /src/images/homepage-images/homepage-desktop/khachapuri-desk_2x.jpg
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg,
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg,
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg
              "
              media="(max-width: 414px)"
            />
            <img
              class="hp-restaurant-slider__image hp-restaurant-slider__image--small-tab hp-restaurant-slider__image--small-desk"
              src="/src/images/homepage-images/homepage-desktop/khachapuri-desk_2x.jpg"
              alt="Шашлик з лавашем на дерев'яній дошці"
            />
          </picture>
        </li>
        <li class="hp-restaurant-slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg,
                /src/images/homepage-images/homepage-desktop/cottonbro-desk_2x.jpg
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg,
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg,
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg
              "
              media="(max-width: 414px)"
            />
            <img
              class="hp-restaurant-slider__image hp-restaurant-slider__image--big-desk hp-restaurant-slider__image--small-tab"
              src="/src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg"
              alt="Апетитний салат з куркою гранатом і буряком"
            />
          </picture>
        </li>
      </ul>
    </div> -->

  <!-- arrows -->
   <!-- <div class="hp-restaurant-slider__buttons">
      <button type="button" class="hp-restaurant-slider__arrow-left">
        <svg class="hp-restaurant-slider__icon" width="30" height="17">
          <use href=""></use>
        </svg>
      </button>
      <button type="button" class="hp-restaurant-slider__arrow-right">
        <svg class="hp-restaurant-slider__icon" width="30" height="17">
          <use href=""></use>
        </svg>
      </button> -->

    <!-- slider test -->
    <!-- <div class="hp-restaurant-slider">
      <div class="hp-restaurant-slider__item">
        <img
          class="hp-restaurant-slider__image hp-restaurant-slider__image--big hp-restaurant-slider__image--big-desk"
          src="/src/images/homepage-images/homepage-desktop/meat-steak_desk1x.jpg"
          alt="М'ясний стейк з розмарином на тарілці"
        />
      </div>
      <div class="hp-restaurant-slider__item">
        <img
          class="hp-restaurant-slider__image hp-restaurant-slider__image--small-tab hp-restaurant-slider__image--small-desk"
          src="/src/images/homepage-images/homepage-desktop/khachapuri-desk_1x.jpg"
          alt="Шашлик з лавашем на дерев'яній дошці"
        />
      </div>
      <div class="hp-restaurant-slider__item">
        <img
          class="hp-restaurant-slider__image hp-restaurant-slider__image--big-desk hp-restaurant-slider__image--small-tab"
          src="/src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg"
          alt="Апетитний салат з куркою гранатом і буряком"
        />
      </div>
    </div> -->

    <!-- NEW SLIDER TEST -->
 <div class="restaurant-details-slider__wrapper">
         <div class="restaurant-details-slider__container">
          <ul class="restaurant-details-slider slick variable-width">
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--big
              restaurant-details-slider__item--big-desktop"
            >
            <picture>
              <source srcset="
                  /src/images/homepage-images/homepage-desktop/meat-steak_desk1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/meat-steak_desk2x.jpg 2x"
                sizes='70px' > 
                
                <img
                class="restaurant-details-slider__image restaurant-details-slider__image--big restaurant-details-slider__image--big-desktop"
                
                src="/src/images/homepage-images/homepage-desktop/meat-steak_desk1x.jpg"
               
                alt="М'ясний стейк з розмарином на тарілці"
              />
            </picture>
            </li>
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--small-tablet restaurant-details-slider__item--big-desktop"
            > <picture>
 <source srcset="
                  /src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/cottonbro-desk_2x.jpg 2x
                " sizes='70px' >
              <img
                class="restaurant-details-slider__image restaurant-details-slider__image--small-tablet
                restaurant-details-slider__image--big-desktop"
                src="/src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg"
                alt="Апетитний салат з куркою гранатом і буряком"
              />
            </picture>
           
            </li>
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--small-tablet
              restaurant-details-slider__item--small-desktop"
            ><picture>
              <source srcset="
                  /src/images/homepage-images/homepage-desktop/khachapuri-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/khachapuri-desk_2x.jpg 2x
                " sizes='70px' >
                <img
                class="restaurant-details-slider__image restaurant-details-slider__image--small-tablet
                restaurant-details-slider__image--small--desktop"
                
                src="/src/images/homepage-images/homepage-desktop/khachapuri-desk_1x.jpg"
                alt="Шашлик з лавашем на дерев'яній дошці"
              />
            </picture>
              
            </li>        
         </ul>

         <!-- slider buttons -->
    <div class="restaurant-details-slider__buttons">
      <div class="restaurant-details__slider-nav"></div>
          <button class="restaurant-details-slider__arrow-left" type="button">
      <svg width="30px" height="17px" class="restaurant-details-slider__arrow-left-svg">
        <use href="/src/svg/icons.svg#icon-double-lux-arrow-left"></use>
      </svg>
    </button>
    <button class="restaurant-details-slider__arrow-right" type="button">
      <svg width="30px" height="17px" class="restaurant-details-slider__arrow-right-svg">
        <use href="/src/svg/icons.svg#icon-double-lux-arrow-right"></use>
      </svg>
    </button>
    </div>
        </div>
      </div>  

       <!-- buttons -->
    <!-- <div class="hp-restaurant__btn-wrap">
      <button type="button" class="hp-restaurant__btn">
        Забронювати столик
      </button>
      <a href="./restaurant.html" class="hp-restaurant__btn"
        >Переглянути меню</a
      >
    </div> -->
</section>
