<section class="contacts">
  <ul class="line-container">
    <li class="line-1"></li>
    <li class="line-2"></li>
    <li class="line-3"></li>
  </ul>
  <div class="contacts-container">
    <div class="contacts-info">
      <h2 class="visually-hidden">Контакти</h2>
      <h3 class="contacts-title">Mimiho</h3>
      <p class="contacts-subtitle">Ресторанно-готельний комплекс</p>

      <ul class="contacts-list">
        <li class="contacts-item">
          <p class="contacts-text">Ресторан</p>
          <div class="contacts-block-1">
            <a class="contacts-link" href="tel:+380955559533">
              <svg class="contacts-icon" width="24px" height="24px">
                <use href="./svg/icons.svg#icon-tel"></use>
              </svg>
              095 555 95 33
            </a>
          </div>
        </li>
        <li class="contacts-item">
          <p class="contacts-text">Готель</p>
          <div class="contacts-block-2">
            <a class="contacts-link" href="tel:+380668491089">
              <svg class="contacts-icon" width="24px" height="24px">
                <use href="./svg/icons.svg#icon-tel"></use>
              </svg>
              066 849 10 89
            </a>
            <a class="contacts-link" href="tel:+380672758540">067 275 85 40</a>
          </div>
        </li>
        <li class="contacts-item">
          <p class="contacts-text"></p>
          <div class="contacts-block-3">
            <a class="contacts-link contact-link-map" href="https://goo.gl/maps/3TBzBmQ76wKruW3i8" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="contacts-map-icon" width="24px" height="24px">
                <use href="./svg/icons.svg#icon-map"></use>
              </svg>
              Україна, м. Полтава,<br />
              вул. Маршала Бірюзова, 15
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="contacts-map">
      <picture>
        <source
          srcset="
            ./images/homepage-images/homepage-desktop/map-desk-1x.jpg 1x,
            ./images/homepage-images/homepage-desktop/map-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage-images/homepage-tablet/map-tab-1x.jpg 1x,
            ./images/homepage-images/homepage-tablet/map-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage-images/homepage-mobile/map-mob-1x.jpg 1x,
            ./images/homepage-images/homepage-mobile/map-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/homepage-images/homepage-desktop/map-desk-1x.jpg"
          alt="карта"
          width="634"
        />
      </picture>
    </div>
  </div>
</section>
