<section class="container">
    <h3>Ресторан</h3>
    <div>
        <p>Amet minim mollit non</p>
        <h2>MIMIHO</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source
                srcset="/src/images/homepage-images/homepage-desktop/first-hall_desk1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/first-hall_desk2x.jpg 2x"
                media="(min-width: 1280px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-tablet/first-hall_tub1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/first-hall_tub2x.jpg 2x"
                media="(min-width: 1024px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-mobile/first-hall_mob1x.jpg 1x,
                /src/images/homepage-images/homepage-mobile/first-hall_mob2x.jpg 2x"
                media="(max-width: 1023px)"
            />
            <img class="" 
            src="/src/images/homepage-images/homepage-desktop/first-hall_desk1x.jpg" 
            alt=""
            />
        </picture>
    </div>
    <div>
        <picture>
            <source
                srcset="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/second-hall_desk2x.jpg 2x"
                media="(min-width: 1280px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-tablet/second-hall_tub1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/second-hall_tub2x.jpg 2x"
                media="(min-width: 1024px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-mobile/second-hall_mob1x.jpg 1x,
                /src/images/homepage-images/homepage-mobile/second-hall_mob2x.jpg 2x"
                media="(max-width: 1023px)"
            />
            <img class="" 
            src="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg" 
            alt=""
            />
        </picture>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div>
        <ul>
            <li>
                <picture>
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/second-hall_desk2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-tablet/second-hall_tub1x.jpg 1x,
                        /src/images/homepage-images/homepage-tablet/second-hall_tub2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-mobile/second-hall_mob1x.jpg 1x,
                        /src/images/homepage-images/homepage-mobile/second-hall_mob2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="" 
                    src="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg" 
                    alt=""
                    />
                </picture>
            </li>
            <li>
                <picture>
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/second-hall_desk2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-tablet/second-hall_tub1x.jpg 1x,
                        /src/images/homepage-images/homepage-tablet/second-hall_tub2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-mobile/second-hall_mob1x.jpg 1x,
                        /src/images/homepage-images/homepage-mobile/second-hall_mob2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="" 
                    src="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg" 
                    alt=""
                    />
                </picture>
            </li>
        </ul>
    </div>
</section>