<section>
    <h2 class="visually-hidden">About our hotel</h2>
    <p>Amet minim mollit non</p>
    <h3>MIMIHO</h3>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <img src="/src/images/hotel-images/modern-studio/modern-studio_mob1x.jpg" alt="Зображення кімнати">
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <img src="/src/images/homepage-images/homepage-mobile/export-hotel_mob1x.jpg" alt="Зображення холу готеля">
    <ul class="arrows-list">
        <li class="arrows-item">
            <svg>
        <use href="/src/svg/icons.svg#icon-map"></use>
    </svg>
        </li>
        <li class="arrows-item">
            <svg>
        <use href="/src/svg/icons.svg#icon-map"></use>
    </svg>
        </li>
    </ul>
    
</section>