<section class="hero">
    <h1 class="hero__title">MIMIHO</h1>
    <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero__description">СМАК ЖИТТЯ 24/7</p>

    <!-- Блок з адресою -->
    <div calss="hero__location-bloc">
        <a calss="hero__location-link" href="">Україна, м. Полтава, </br>
            вул. Маршала Бірюзова, 15</a>
    </div>

    <!-- Блок з кнопками -->
    <ul class="hero__buttons-box">
        <li>
            <button type="button" class="Button">Забронювати столик</button>
        </li>
        <li>
            <button type="button" class="Button">Забронювати номер</button>
        </li>
    </ul>

        <!-- Блок соціальних мереж-->
        <!-- <ul>
            <li><a class="link__instagram"></a>
            </li>
            <li></li>
            <li></li>
        </ul> -->

</section>