
<section class="homepage-rooms-section section">

  <ul class="container">
    <li class="line1"></li>
    <li class="line2"></li>
    <li class="line3"></li>
  </ul>
  <div class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <div class="discribe-room-wrap">
      <p class="pre-subtitle">Amet minim mollit non</p>
      <h3 class="subtitle">MIMIHO</h3>
      <p class="discribe-room-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_tab1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_tab2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_mob1x.jpg 1x,
            ./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_mob2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="homepage-room-img"
          src="./images/hotel-images/modern-studio/modern-double-room-lux/modern-studio_desk1x.jpg"
          alt="Зображення кімнати"
        />
      </picture>
    </div>
    <div class="discribe-hotel-wrap">
      <p class="discribe-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/homepage-images/homepage-desktop/export-hotel_desk1x.jpg 1x,
            ./images/homepage-images/homepage-desktop/export-hotel_desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage-images/homepage-tablet/export-hotel_tub1x.jpg 1x,
            ./images/homepage-images/homepage-tablet/export-hotel_tub2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage-images/homepage-mobile/export-hotel_mob1x.jpg 1x,
            ./images/homepage-images/homepage-mobile/export-hotel_mob2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="homepage-hotel-img"
          src="./images/homepage-images/homepage-desktop/export-hotel_desk1x.jpg"
          alt="Хол готеля"
        />
      </picture>
    </div>

    <div class="describe-hotel__slider-wrap">
      <div class="hp-rooms-slick">
        <div>
          <picture>
            <source
              srcset="
                ./images/homepage-images/homepage-desktop/towels-desk_1x.jpg 1x,
                ./images/homepage-images/homepage-desktop/towels-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/homepage-images/homepage-tablet/towels-tub_1x.jpg 1x,
                ./images/homepage-images/homepage-tablet/towels-tub_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/homepage-images/homepage-desktop/towels-desk_1x.jpg 1x,
                ./images/homepage-images/homepage-desktop/towels-desk_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="describe-hotel__slider-img"
              src="./images/homepage-images/homepage-desktop/towels-desk_1x.jpg"
              alt="Рушнички"
              width="254"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./images/homepage-images/homepage-desktop/reception-desk_1x.jpg 1x,
                ./images/homepage-images/homepage-desktop/reception-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/homepage-images/homepage-tablet/reception-tub_1x.jpg 1x,
                ./images/homepage-images/homepage-tablet/reception-tub_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/homepage-images/homepage-desktop/reception-desk_1x.jpg 1x,
                ./images/homepage-images/homepage-desktop/reception-desk_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="describe-hotel__slider-img"
              src="./images/homepage-images/homepage-desktop/reception-desk_1x.jpg"
              alt="Ресепшн"
              width="254"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./images/slyder-images/slyder-desktop/1-desk_1x.jpg 1x,
                ./images/slyder-images/slyder-desktop/1-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-tablet/1-tab_1x.jpg 1x,
                ./images/slyder-images/slyder-tablet/1-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-mobile/1-mob_1x.jpg 1x,
                ./images/slyder-images/slyder-mobile/1-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="describe-hotel__slider-img"
              src="./images/slyder-images/slyder-desktop/1-desk_1x.jpg"
              alt="Диван з комодом"
              width="254"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./images/slyder-images/slyder-desktop/2-desk_1x.jpg 1x,
                ./images/slyder-images/slyder-desktop/2-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-tablet/2-tab_1x.jpg 1x,
                ./images/slyder-images/slyder-tablet/2-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-mobile/2-mob_1x.jpg 1x,
                ./images/slyder-images/slyder-mobile/2-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="describe-hotel__slider-img"
              src="./images/slyder-images/slyder-desktop/2-desk_1x.jpg"
              alt="Ванна"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./images/slyder-images/slyder-desktop/3-desk_1x.jpg 1x,
                ./images/slyder-images/slyder-desktop/3-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-tablet/3-tab_1x.jpg 1x,
                ./images/slyder-images/slyder-tablet/3-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-mobile/3-mob_1x.jpg 1x,
                ./images/slyder-images/slyder-mobile/3-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="homepage-slick-img"
              src="./images/slyder-images/slyder-mobile/3-mob_1x.jpg"
              alt="Диван зі стликом"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./images/slyder-images/slyder-desktop/4-desk_1x.jpg 1x,
                ./images/slyder-images/slyder-desktop/4-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-tablet/4-tab_1x.jpg 1x,
                ./images/slyder-images/slyder-tablet/4-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/slyder-images/slyder-mobile/4-mob_1x.jpg 1x,
                ./images/slyder-images/slyder-mobile/4-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="homepage-slick-img"
              src="./images/slyder-images/slyder-mobile/4-mob_1x.jpg"
              alt="Раковина"
            />
          </picture>
        </div>
      </div>
    </div>
    <!-- <div class="arrows-wrap">
      <button type="button" class="homepage-rooms-btn-arrows">
        <svg class="arrow-icon" width="32" height="32">
          <use href="/src/svg/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="homepage-rooms-btn-arrows">
        <svg class="arrow-icon" width="32" height="32">
          <use href="/src/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div> -->
  </div>
</section>
