<section
  class="hp-hotel hp-hotel-overlay wow animate__animated animate__slideInUp"
>
  <ul class="line-container-for-bg-img">
    <li class="line-1"></li>
    <li class="line-2"></li>
    <li class="line-3"></li>
  </ul>
  <div class="hp-hotel__container container">
    <div class="hp-hotel__wrap-info">
      <h1 class="hp-hotel__title">Mimiho</h1>
      <h2 class="hp-hotel__subtitle">Готель</h2>
      <p class="hp-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <!-- WRAP FOR SLIDER AND BUTTONS -->
    <div class="hp-reserve__wrap-bottom">
      <!-- SLIDER  -->
      <div class="hp-hotel-slider">
        <div class="hp-hotel-slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/bed-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/bed-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/bed-tab_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/bed-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-mobile/bed-mob_1x.jpg 1x,
                /src/images/homepage-images/homepage-mobile/bed-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              class="hp-hotel-slider__img"
              src="/src/images/homepage-images/homepage-mobile/bed-mob_1x.jpg"
              alt="Зображення двуспального ліжка"
            />
          </picture>
        </div>
        <div class="hp-hotel-slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/breakfast-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/breakfast-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/breakfast-tab_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/breakfast-tab_2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />

            <img
              class="hp-hotel-slider__img"
              src="/src/images/homepage-images/homepage-tablet/breakfast-tab_1x.jpg"
              alt="Красивий сніданок яєшня і апельсиновий сік"
            />
          </picture>
        </div>
        <div class="hp-hotel-slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/client-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/client-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/client-tab_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/client-tab_2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              class="hp-hotel-slider__img"
              src="/src/images/homepage-images/homepage-tablet/client-tab_1x.jpg"
              alt="Дівчина біля ресепшену з валізою"
            />
          </picture>
        </div>
      </div>

      <!-- buttons -->
      <div class="hp-hotel__btn-wrap">
        <button
          type="button"
          class="hp-hotel__btn button-gray"
          data-room-modal-open
        >
          Забронювати номер
        </button>
        <a href="./hotel.html" class="hp-hotel__btn button-gray"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
