<section class="hp-restaurant hp-rest-overlay">
  <div class="container">
    <h1 class="hp-restaurant__title">Mimiho</h1>
    <h2 class="hp-restaurant__subtitle">Ресторан</h2>
    <p class="hp-restaurant__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="hp-restaurant__btn-wrap">
      <button type="button" class="hp-restaurant__btn">
        Забронювати столик
      </button>
      <a href="./restaurant.html" class="hp-restaurant__btn"
        >Переглянути меню</a
      >
    </div>
  </div>
</section>

-<!-- slider for restaurant -->
<div class="variable-width hp-restaurant-slider visually-hidden">
  <div>
    <picture>
      <source
        srcset="
          /src/images/homepage-images/homepage-desktop/meat-steak_desk1x.jpg,
          /src/images/homepage-images/homepage-desktop/meat-steak_desk2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/meat-steak_tab1x.jpg,
          /src/images/homepage-images/homepage-tablet/meat-steak_tab2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg,
          /src/images/homepage-images/homepage-mobile/meat-steak_mob2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg"
        alt="М'ясний стейк з розмарином на тарілці"
        width="270"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/homepage-images/homepage-desktop/khachapuri-desk_1x.jpg,
          /src/images/homepage-images/homepage-desktop/khachapuri-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg"
        alt="Шашлик з лавашем на дерев'яній дошці"
        width="162"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg,
          /src/images/homepage-images/homepage-desktop/cottonbro-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg"
        alt="Апетитний салат з куркою гранатом і буряком"
        width="270"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/slyder-images/slyder-desktop/7-desk_1x.jpg,
          /src/images/slyder-images/slyder-desktop/7-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/slyder-images/slyder-tablet/7-tab_1x.jpg,
          /src/images/slyder-images/slyder-tablet/7-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/slyder-images/slyder-mobile/7-mob_1x.jpg,
          /src/images/slyder-images/slyder-mobile/7-mob_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/slyder-images/slyder-mobile/7-mob_1x.jpg"
        alt="Устриці та біле вино на столі в ресторані"
        width="254"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/slyder-images/slyder-desktop/15-desk_1x.jpg,
          /src/images/slyder-images/slyder-desktop/15-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/slyder-images/slyder-tablet/15-tab_1x.jpg,
          /src/images/slyder-images/slyder-tablet/15-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/slyder-images/slyder-mobile/15-mob_1x.jpg,
          /src/images/slyder-images/slyder-mobile/15-mob_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/slyder-images/slyder-mobile/15-mob_1x.jpg"
        alt="Апельсиновий сік в бокалах і сендвічі на розносі"
        width="254"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/slyder-images/slyder-desktop/6-desk_1x.jpg,
          /src/images/slyder-images/slyder-desktop/6-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/slyder-images/slyder-tablet/6-tab_1x.jpg,
          /src/images/slyder-images/slyder-tablet/6-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/slyder-images/slyder-mobile/6-mob_1x.jpg,
          /src/images/slyder-images/slyder-mobile/6-mob_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/slyder-images/slyder-mobile/6-mob_1x.jpg"
        alt="Кав'ярник на дерев'яній дошці в якому запарюють каву"
        width="254"
      />
    </picture>
  </div>
</div>
