<section class="hp-hotel hp-hotel-overlay">
  <div class="container">
    <div class="hp-hotel__wrap-info">
      <h1 class="hp-hotel__title">Mimiho</h1>
      <h2 class="hp-hotel__subtitle">Готель</h2>
      <p class="hp-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="hp-hotel__btn-wrap">
      <button type="button" class="hp-hotel__btn">Забронювати номер</button>
      <a href="./hotel.html" class="hp-hotel__btn">Переглянути ціни</a>
    </div>
  </div>
</section>
