<section class="hp-restaurant hp-rest-overlay">

  <div class="container">
    <h1 class="hp-restaurant__title">Mimiho</h1>
    <h2 class="hp-restaurant__subtitle">Ресторан</h2>
    <p class="hp-restaurant__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <!-- SLIDER -->
    <!-- WRAP FOR SLIDER AND BUTTONS -->
    <div class="hp-reserve__wrap-bottom">
      <!-- SLIDER  -->
      <div class="slider">
        <div class="slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/meat-steak_desk1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/meat-steak_desk2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/meat-steak_tab1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/meat-steak_tab2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg 1x,
                /src/images/homepage-images/homepage-mobile/meat-steak_mob2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              class="slider__img"
              src="/src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg"
              alt="М'ясний стейк з розмарином на тарілці"
              sizes="(min-width: 1280px) 270px, (min-width: 1024px) 270px, (max-width: 1023px) 274px"
            />
          </picture>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/khachapuri-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/khachapuri-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              class="slider__img"
              src="/src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg"
              alt="Шашлик з лавашем на дерев'яній дошці"
              sizes="(min-width: 1280px) 162px, (min-width: 1024px) 162px, (max-width: 1023px) 274px"
            />
          </picture>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/cottonbro-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              class="slider__img"
              src="/src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg"
              alt="Апетитний салат з куркою гранатом і буряком"
              sizes="(min-width: 1280px) 270px, (min-width: 1024px) 162px, (max-width: 1023px) 274px"
            />
          </picture>
        </div>
      </div>

    <div class="hp-restaurant-slider__buttons"></div>

      <div class="hp-hotel__btn-wrap">
        <button type="button" class="hp-hotel__btn">Забронювати номер</button>
        <a href="./hotel.html" class="hp-hotel__btn">Переглянути ціни</a>
      </div>
    </div>
  </div>
</section>



    <!-- ARROWS -->
    <!-- <div class="hp-restaurant-slider__buttons">
      <button type="button" class="hp-restaurant-slider__arrow-left">
        <svg class="hp-restaurant-slider__icon" width="30" height="17">
          <use href=""></use>
        </svg>
      </button>
      <button type="button" class="hp-restaurant-slider__arrow-right">
        <svg class="hp-restaurant-slider__icon" width="30" height="17">
          <use href=""></use>
        </svg>
      </button>
    </div> -->



    <!-- buttons -->
    <!-- <div class="hp-restaurant__btn-wrap">
      <button type="button" class="hp-restaurant__btn">
        Забронювати столик
      </button>
      <a href="./restaurant.html" class="hp-restaurant__btn"
        >Переглянути меню</a
      >
    </div> -->
</section>
