<section class="contacts wow  animate__animated animate__slideInUp">
  <ul class="line-container">
    <li class="line-1"></li>
    <li class="line-2"></li>
    <li class="line-3"></li>
  </ul>
  <div class="contacts-container">
    <div class="contacts-info">
      <h2 class="visually-hidden">Контакти</h2>
      <h3 class="contacts-title">Mimiho</h3>
      <p class="contacts-subtitle">Ресторанно-готельний комплекс</p>

      <ul class="contacts-list">
        <li class="contacts-item">
          <p class="contacts-text">Ресторан</p>
          <div class="contacts-block-1">
            <a class="contacts-link" href="tel:+380955559533">
              <svg class="contacts-icon" width="24px" height="24px">
                <use href="./svg/icons.svg#icon-tel"></use>
              </svg>
              095 555 95 33
            </a>
          </div>
        </li>
        <li class="contacts-item">
          <p class="contacts-text">Готель</p>
          <div class="contacts-block-2">
            <a class="contacts-link" href="tel:+380668491089">
              <svg class="contacts-icon" width="24px" height="24px">
                <use href="./svg/icons.svg#icon-tel"></use>
              </svg>
              066 849 10 89
            </a>
            <a class="contacts-link" href="tel:+380672758540">067 275 85 40</a>
          </div>
        </li>
        <li class="contacts-item">
          <p class="contacts-text"></p>
          <div class="contacts-block-3">
            <a
              class="contacts-link contact-link-map"
              href="https://goo.gl/maps/3TBzBmQ76wKruW3i8"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="contacts-map-icon" width="24px" height="24px">
                <use href="./svg/icons.svg#icon-map"></use></svg
              ><span class="contacts-adress-mob">
                Україна, м. Полтава,<br />
                вул. Маршала <br />Бірюзова, 15
              </span>
              <span class="contacts-adress-desk">
                Україна, м. Полтава,<br />
                вул. Маршала Бірюзова, 15
              </span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="contacts-map">
      <picture>
        <source
          srcset="
            ./images/homepage-images/homepage-desktop/map-desk-1x.jpg 1x,
            ./images/homepage-images/homepage-desktop/map-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage-images/homepage-tablet/map-tab-1x.jpg 1x,
            ./images/homepage-images/homepage-tablet/map-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage-images/homepage-mobile/map-mob-1x.jpg 1x,
            ./images/homepage-images/homepage-mobile/map-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
  <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2585.8947501127764!2d34.52561030988117!3d49.59973420554463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1671275401435!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </picture>
    </div>
  </div>
</section>
