<section class="homepage-meal">
  <ul class="container">
    <li class="line1"></li>
    <li class="line2"></li>
    <li class="line3"></li>
  </ul>
  <div
    class="container homepage-container wow animate__animated animate__slideInUp"
  >
    <h3 class="visually-hidden">Ресторан</h3>

    <div class="meal-first-hall ">
        <p class="meal-pretitle-text">Amet minim mollit non</p>
        <h2 class="meal-title">MIMIHO</h2>
        <p class="meal-aftertitle-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture  class="wow animate__animated animate__flipInY">
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/wine-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/wine-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/wine-tub_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/wine-tub_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-mobile/wine-mob_1x.jpg 1x,
                /src/images/homepage-images/homepage-mobile/wine-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="slick-photo"
              src="/src/images/homepage-images/homepage-desktop/wine-desk_1x.jpg"
              alt="Бокал з червоним вином"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/buffet-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-tablet/buffet-tub_1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/buffet-tub_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/buffet-desk_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="slick-photo"
              src="/src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg"
              alt="Засервирований стіл"
            />

        </picture>
        <p class="second-hall-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>

    <!--СЛАЙДЕР -->
    <div class="homepage-meal__slider">
        <div class="hp-rest-slider">
            <div>
                <picture class="homepage-meal__slick-pict">
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/wine-desk_1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/wine-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-tablet/wine-tub_1x.jpg 1x,
                        /src/images/homepage-images/homepage-tablet/wine-tub_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-mobile/wine-mob_1x.jpg 1x,
                        /src/images/homepage-images/homepage-mobile/wine-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/homepage-images/homepage-desktop/wine-desk_1x.jpg" 
                    alt="Бокал з червоним вином"
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/buffet-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-tablet/buffet-tub_1x.jpg 1x,
                        /src/images/homepage-images/homepage-tablet/buffet-tub_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/buffet-desk_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg" 
                    alt="Засервирований стіл"
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/slyder-images/slyder-desktop/9-desk_1x.jpg 1x,
                        /src/images/slyder-images/slyder-desktop/9-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-tablet/9-tab_1x.jpg 1x,
                        /src/images/slyder-images/slyder-tablet/9-tab_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-mobile/9-mob_1x.jpg 1x,
                        /src/images/slyder-images/slyder-mobile/9-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/slyder-images/slyder-desktop/9-desk_1x.jpg" 
                    alt="Сніданок на чорному столі"
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/slyder-images/slyder-desktop/7-desk_1x.jpg 1x,
                        /src/images/slyder-images/slyder-desktop/7-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-tablet/7-tab_1x.jpg 1x,
                        /src/images/slyder-images/slyder-tablet/7-tab_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-mobile/7-mob_1x.jpg 1x,
                        /src/images/slyder-images/slyder-mobile/7-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/slyder-images/slyder-desktop/7-desk_1x.jpg" 
                    alt="Морепродукти з білим вином"
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/slyder-images/slyder-desktop/15-desk_1x.jpg 1x,
                        /src/images/slyder-images/slyder-desktop/15-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-tablet/15-tab_1x.jpg 1x,
                        /src/images/slyder-images/slyder-tablet/15-tab_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/slyder-images/slyder-mobile/15-mob_1x.jpg 1x,
                        /src/images/slyder-images/slyder-mobile/15-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="slick-photo" 
                    src="/src/images/slyder-images/slyder-desktop/15-desk_1x.jpg" 
                    alt="Десерти"
                    />
                </picture>
            </div>

        </div>
        <div>
          <picture>
            <source
              srcset="
                /src/images/slyder-images/slyder-desktop/9-desk_1x.jpg 1x,
                /src/images/slyder-images/slyder-desktop/9-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/slyder-images/slyder-tablet/9-tab_1x.jpg 1x,
                /src/images/slyder-images/slyder-tablet/9-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/slyder-images/slyder-mobile/9-mob_1x.jpg 1x,
                /src/images/slyder-images/slyder-mobile/9-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="slick-photo"
              src="/src/images/slyder-images/slyder-desktop/9-desk_1x.jpg"
              alt="Сніданок на чорному столі"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                /src/images/slyder-images/slyder-desktop/7-desk_1x.jpg 1x,
                /src/images/slyder-images/slyder-desktop/7-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/slyder-images/slyder-tablet/7-tab_1x.jpg 1x,
                /src/images/slyder-images/slyder-tablet/7-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/slyder-images/slyder-mobile/7-mob_1x.jpg 1x,
                /src/images/slyder-images/slyder-mobile/7-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="slick-photo"
              src="/src/images/slyder-images/slyder-desktop/7-desk_1x.jpg"
              alt="Морепродукти з білим вином"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                /src/images/slyder-images/slyder-desktop/15-desk_1x.jpg 1x,
                /src/images/slyder-images/slyder-desktop/15-desk_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/slyder-images/slyder-tablet/15-tab_1x.jpg 1x,
                /src/images/slyder-images/slyder-tablet/15-tab_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/slyder-images/slyder-mobile/15-mob_1x.jpg 1x,
                /src/images/slyder-images/slyder-mobile/15-mob_2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="slick-photo"
              src="/src/images/slyder-images/slyder-desktop/15-desk_1x.jpg"
              alt="Десерти"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
