<section class="hp-hotel hp-hotel-overlay">
  <div class="container">
    <div class="hp-hotel__wrap-info">
      <h1 class="hp-hotel__title">Mimiho</h1>
      <h2 class="hp-hotel__subtitle">Готель</h2>
      <p class="hp-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <!-- slider  -->
    <div class="one-time hp-hotel-slider">
      <div>
        <picture>
          <source
            srcset="
              /src/images/homepage-images/homepage-desktop/bed-desk_1x.jpg,
              /src/images/homepage-images/homepage-desktop/bed-desk_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/homepage-images/homepage-tablet/bed-tab_1x.jpg,
              /src/images/homepage-images/homepage-tablet/bed-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/homepage-images/homepage-mobile/bed-mob_1x.jpg,
              /src/images/homepage-images/homepage-mobile/bed-mob_2x.jpg
            "
            media="(max-width: 414px)"
          />
          <img
            src="/src/images/homepage-images/homepage-mobile/bed-mob_1x.jpg"
            alt="Зображення ліжка"
            width="270"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              /src/images/homepage-images/homepage-desktop/client-desk_1x.jpg,
              /src/images/homepage-images/homepage-desktop/client-desk_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/homepage-images/homepage-tablet/client-tab_1x.jpg,
              /src/images/homepage-images/homepage-tablet/client-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/homepage-images/homepage-tablet/client-tab_1x.jpg,
              /src/images/homepage-images/homepage-tablet/client-tab_2x.jpg
            "
            media="(max-width: 414px)"
          />
          <img
            src="/src/images/homepage-images/homepage-tablet/client-tab_1x.jpg"
            alt="дівчина з валізою біля ресепшену"
            width="162"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              /src/images/homepage-images/homepage-desktop/breakfast-desk_1x.jpg,
              /src/images/homepage-images/homepage-desktop/breakfast-desk_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/homepage-images/homepage-tablet/breakfast-tab_1x.jpg,
              /src/images/homepage-images/homepage-tablet/breakfast-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/homepage-images/homepage-tablet/breakfast-tab_1x.jpg,
              /src/images/homepage-images/homepage-tablet/breakfast-tab_2x.jpg
            "
            media="(max-width: 414px)"
          />
          <img
            src="/src/images/homepage-images/homepage-tablet/breakfast-tab_1x.jpg"
            alt="Красивий сніданок яєшня і апельсиновий сік"
            width="162"
          />
        </picture>
      </div>

      <!-- <div>
        <picture>
          <source
            srcset="
              /src/images/slyder-images/slyder-desktop/13-desk_1x.jpg,
              /src/images/slyder-images/slyder-desktop/13-desk_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/slyder-images/slyder-tablet/13-tab_1x.jpg,
              /src/images/slyder-images/slyder-tablet/13-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/slyder-images/slyder-mobile/13-mob_1x.jpg,
              /src/images/slyder-images/slyder-mobile/13-mob_2x.jpg
            "
            media="(max-width: 414px)"
          />
          <img
            src="/src/images/slyder-images/slyder-mobile/13-mob_1x.jpg"
            alt="Стильний умивальник-чаша сірого кольору"
            width="254"
          />
        </picture>
      </div> -->

      <!-- <div>
        <picture>
          <source
            srcset="
              /src/images/slyder-images/slyder-desktop/16-desk_1x.jpg,
              /src/images/slyder-images/slyder-desktop/16-desk_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/slyder-images/slyder-tablet/16-tab_1x.jpg,
              /src/images/slyder-images/slyder-tablet/16-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/slyder-images/slyder-mobile/16-mob_1x.jpg,
              /src/images/slyder-images/slyder-mobile/16-mob_2x.jpg
            "
            media="(max-width: 414px)"
          />
          <img
            src="/src/images/slyder-images/slyder-mobile/16-mob_1x.jpg"
            alt="Сніданок з мюслі та чорниці на білому розносі"
            width="254"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              /src/images/slyder-images/slyder-desktop/2-desk_1x.jpg,
              /src/images/slyder-images/slyder-desktop/2-desk_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/slyder-images/slyder-tablet/2-tab_1x.jpg,
              /src/images/slyder-images/slyder-tablet/2-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/slyder-images/slyder-mobile/2-mob_1x.jpg,
              /src/images/slyder-images/slyder-mobile/2-mob_2x.jpg
            "
            media="(max-width: 414px)"
          />
          <img
            src="/src/images/slyder-images/slyder-mobile/2-mob_1x.jpg"
            alt="Ванна з рушником і біля неї дерев'яна тумба з косметичними засобами"
            width="254"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              /src/images/slyder-images/slyder-desktop/10-desk_1x.jpg,
              /src/images/slyder-images/slyder-desktop/10-desk_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/slyder-images/slyder-tablet/10-tab_1x.jpg,
              /src/images/slyder-images/slyder-tablet/10-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/slyder-images/slyder-mobile/10-mob_1x.jpg,
              /src/images/slyder-images/slyder-mobile/10-mob_2x.jpg
            "
            media="(max-width: 414px)"
          />
          <img
            src="/src/images/slyder-images/slyder-mobile/10-mob_1x.jpg"
            alt="Крем у скляній баночці стоїть на білому рушнику"
            width="254"
          />
        </picture>
      </div> -->
    </div>

    <div class="hp-hotel__btn-wrap">
      <button type="button" class="hp-hotel__btn">Забронювати номер</button>
      <a href="./hotel.html" class="hp-hotel__btn">Переглянути ціни</a>
    </div>
  </div>
</section>

<!-- slider for restaurant -->
<div class="variable-width hp-restaurant-slider visually-hidden">
  <div>
    <picture>
      <source
        srcset="
          /src/images/homepage-images/homepage-desktop/meat-steak_desk1x.jpg,
          /src/images/homepage-images/homepage-desktop/meat-steak_desk2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/meat-steak_tab1x.jpg,
          /src/images/homepage-images/homepage-tablet/meat-steak_tab2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg,
          /src/images/homepage-images/homepage-mobile/meat-steak_mob2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/homepage-images/homepage-mobile/meat-steak_mob1x.jpg"
        alt="М'ясний стейк з розмарином на тарілці"
        width="270"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/homepage-images/homepage-desktop/khachapuri-desk_1x.jpg,
          /src/images/homepage-images/homepage-desktop/khachapuri-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/khachapuri-tab_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/homepage-images/homepage-tablet/khachapuri-tab_1x.jpg"
        alt="Шашлик з лавашем на дерев'яній дошці"
        width="162"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/homepage-images/homepage-desktop/cottonbro-desk_1x.jpg,
          /src/images/homepage-images/homepage-desktop/cottonbro-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg,
          /src/images/homepage-images/homepage-tablet/cottonbro-tab_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/homepage-images/homepage-tablet/cottonbro-tab_1x.jpg"
        alt="Апетитний салат з куркою гранатом і буряком"
        width="270"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/slyder-images/slyder-desktop/7-desk_1x.jpg,
          /src/images/slyder-images/slyder-desktop/7-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/slyder-images/slyder-tablet/7-tab_1x.jpg,
          /src/images/slyder-images/slyder-tablet/7-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/slyder-images/slyder-mobile/7-mob_1x.jpg,
          /src/images/slyder-images/slyder-mobile/7-mob_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/slyder-images/slyder-mobile/7-mob_1x.jpg"
        alt="Устриці та біле вино на столі в ресторані"
        width="254"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/slyder-images/slyder-desktop/15-desk_1x.jpg,
          /src/images/slyder-images/slyder-desktop/15-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/slyder-images/slyder-tablet/15-tab_1x.jpg,
          /src/images/slyder-images/slyder-tablet/15-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/slyder-images/slyder-mobile/15-mob_1x.jpg,
          /src/images/slyder-images/slyder-mobile/15-mob_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/slyder-images/slyder-mobile/15-mob_1x.jpg"
        alt="Апельсиновий сік в бокалах і сендвічі на розносі"
        width="254"
      />
    </picture>
  </div>

  <div>
    <picture>
      <source
        srcset="
          /src/images/slyder-images/slyder-desktop/6-desk_1x.jpg,
          /src/images/slyder-images/slyder-desktop/6-desk_2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/slyder-images/slyder-tablet/6-tab_1x.jpg,
          /src/images/slyder-images/slyder-tablet/6-tab_2x.jpg
        "
        media="(min-width: 1024px)"
      />

      <source
        srcset="
          /src/images/slyder-images/slyder-mobile/6-mob_1x.jpg,
          /src/images/slyder-images/slyder-mobile/6-mob_2x.jpg
        "
        media="(max-width: 414px)"
      />
      <img
        src="/src/images/slyder-images/slyder-mobile/6-mob_1x.jpg"
        alt="Кав'ярник на дерев'яній дошці в якому запарюють каву"
        width="254"
      />
    </picture>
  </div>
</div>
