<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="/" class="header-logo">MIMIHO</a>
      <div class="contact-restoran">
        <a href="#" class="contact-list"> Ресторан </a>
        <div class="contact-numb_rest">
          <svg class="contact-list_icon">
            <use href="./svg/icons.svg#icon-tel"></use>
          </svg>
          <a href="095 555 95 33" class="contact-tell"> 095 555 95 33 </a>
        </div>
        <div class="contact-hotel">
          <a href="#" class="contact-list"> Готель </a>
          <div class="contact-number">
            <svg class="contact-list_icon">
              <use href="./svg/icons.svg#icon-tel"></use>
            </svg>
            <a href="066 849 10 89" class="contact-tell"> 066 849 10 89 </a>
            <a href="067 275 85 40" class="contact-tell"> 067 275 85 40 </a>
          </div>
        </div>
        <div class="social-contact">
          <a href="#">
            <svg class="header-svg">
              <use href="./svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="header-svg">
              <use href="./svg/icons.svg#icon-fb"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="header-svg">
              <use href="./svg/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
