<section class="homepage-meal">
    <div class="container">
    <h3 class="visually-hidden">Ресторан</h3>
    <div class="meal-first-hall">
        <p class="meal-pretitle-text">Amet minim mollit non</p>
        <h2 class="meal-title">MIMIHO</h2>
        <p class="meal-aftertitle-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source
                srcset="/src/images/homepage-images/homepage-desktop/first-hall_desk1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/first-hall_desk2x.jpg 2x"
                media="(min-width: 1280px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-tablet/first-hall_tub1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/first-hall_tub2x.jpg 2x"
                media="(min-width: 1024px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-mobile/first-hall_mob1x.jpg 1x,
                /src/images/homepage-images/homepage-mobile/first-hall_mob2x.jpg 2x"
                media="(max-width: 1023px)"
            />
            <img class="first-hall-photo" 
            src="/src/images/homepage-images/homepage-desktop/first-hall_desk1x.jpg" 
            alt="Перша кімната"
            />
        </picture>
    </div>
    <div class="meal-second-hall">
        <picture>
            <source
                srcset="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg 1x,
                /src/images/homepage-images/homepage-desktop/second-hall_desk2x.jpg 2x"
                media="(min-width: 1280px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-tablet/second-hall_tub1x.jpg 1x,
                /src/images/homepage-images/homepage-tablet/second-hall_tub2x.jpg 2x"
                media="(min-width: 1024px)"
            />
            <source
                srcset="/src/images/homepage-images/homepage-mobile/second-hall_mob1x.jpg 1x,
                /src/images/homepage-images/homepage-mobile/second-hall_mob2x.jpg 2x"
                media="(max-width: 1023px)"
            />
            <img class="second-hall-photo"
            src="/src/images/homepage-images/homepage-desktop/second-hall_desk1x.jpg" 
            alt="Друга кімната"
            />
        </picture>
        <p class="second-hall-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div>
        <div class="slick">
            <div>
                <picture>
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/wine-desk_1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/wine-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-tablet/wine-tub_1x.jpg 1x,
                        /src/images/homepage-images/homepage-tablet/wine-tub_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-mobile/wine-mob_1x.jpg 1x,
                        /src/images/homepage-images/homepage-mobile/wine-mob_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="" 
                    src="/src/images/homepage-images/homepage-desktop/wine-desk_1x.jpg" 
                    alt=""
                    />
                </picture>
            </div>
            <div>
                <picture>
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/buffet-desk_2x.jpg 2x"
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-tablet/buffet-tub_1x.jpg 1x,
                        /src/images/homepage-images/homepage-tablet/buffet-tub_2x.jpg 2x"
                        media="(min-width: 1024px)"
                    />
                    <source
                        srcset="/src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg 1x,
                        /src/images/homepage-images/homepage-desktop/buffet-desk_2x.jpg 2x"
                        media="(max-width: 1023px)"
                    />
                    <img class="" 
                    src="/src/images/homepage-images/homepage-desktop/buffet-desk_1x.jpg" 
                    alt=""
                    />
                </picture>
            </div>
        </div>
    </div>
    </div>
</section>