
   <section class="hero__homepage">
      <div class="hero__location-upper">
        <svg class="hero__location-icon" width="20px" height="20px">
          <use href="./svg/icons.svg#location-pin"></use>
        </svg>
        <a class="hero__location-link" href="">
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15
        </a>
      </div>
      <h1 class="hero__title">MIMIHO</h1>
      <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
      <p class="hero__description">СМАК ЖИТТЯ 24/7</p>
      <!-- Блок з адресою -->
      <div class="hero__blok-info">
        <div class="hero__location-lower">
          <svg class="hero__location-icon" width="24px" height="24px">
            <use href="./svg/icons.svg#location-pin"></use>
          </svg>
          <a class="hero__location-link" href="">
            Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15
          </a>
        </div>
        <!-- Блок з кнопками -->
        <div class="hero__button-box">
          <ul class="hero__button-list">
            <li class="hero__button-item">
              <button type="button" class="button">Забронювати столик</button>
            </li>
            <li class="hero__button-item">
              <button type="button" class="button">Забронювати номер</button>
            </li>
          </ul>
        </div>
      </div>
      <!-- Блок соціальних мереж-->
      <div class="hero__soc-box">
        <ul class="hero__soc-list">
          <li class="hero__soc-item">
            <a href="" class="hero__soc-link list">
              <svg class="hero__soc-icon" width="24" height="24">
                <use href="./svg/icons.svg#icon-instagram">instagram</use>
              </svg>
            </a>
          </li>
          <li class="hero__soc-item">
            <a href="" class="hero__soc-link list">
              <svg class="hero__soc-icon" width="24" height="24">
                <use href="./svg/icons.svg#icon-telegram">facebook</use>
              </svg>
            </a>
          </li>
          <li class="hero__soc-item">
            <a href="" class="hero__soc-link list">
              <svg class="hero__soc-icon" width="24" height="24">
                <use href="./svg/icons.svg#icon-fb">telegram</use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </section>


