<section class="homepage-rooms-section section">
  <!-- <ul class="container">
    <li class="line1"></li>
    <li class="line2"></li>
    <li class="line3"></li>
  </ul> -->
  <div class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <div class="discribe-room-wrap">
      <p class="pre-subtitle">Amet minim mollit non</p>
      <h3 class="subtitle">MIMIHO</h3>
      <p class="discribe-room-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            /src/images/hotel-images/modern-studio/modern-studio_desk1x.jpg 1x,
            /src/images/hotel-images/modern-studio/modern-studio_desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/hotel-images/modern-studio/modern-studio_tab1x.jpg 1x,
            /src/images/hotel-images/modern-studio/modern-studio_tab2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            /src/images/hotel-images/modern-studio/modern-studio_mob1x.jpg 1x,
            /src/images/hotel-images/modern-studio/modern-studio_mob2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="homepage-room-img"
          src="/src/images/hotel-images/modern-studio/modern-studio_desk1x.jpg"
          alt="Зображення кімнати"
        />
      </picture>
    </div>
    <div class="discribe-hotel-wrap">
      <p class="discribe-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            /src/images/homepage-images/homepage-desktop/export-hotel_desk1x.jpg 1x,
            /src/images/homepage-images/homepage-desktop/export-hotel_desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/homepage-images/homepage-tablet/export-hotel_tub1x.jpg 1x,
            /src/images/homepage-images/homepage-tablet/export-hotel_tub2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            /src/images/homepage-images/homepage-mobile/export-hotel_mob1x.jpg 1x,
            /src/images/homepage-images/homepage-mobile/export-hotel_mob2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="homepage-room-img"
          src="/src/images/homepage-images/homepage-desktop/export-hotel_desk1x.jpg"
          alt="Хол готеля"
        />
      </picture>
    </div>
    <ul class="arrows-list list">
      <li class="arrows-item">
        <svg class="arrow-icon" width="32" height="32">
          <use href="/src/svg/icons.svg#icon-arrow-left"></use>
        </svg>
      </li>
      <li class="arrows-item">
        <svg class="arrow-icon" width="32" height="32">
          <use href="/src/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
